* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 1300px) {
  html,
  body {
    font-size: 58%;
  }
}
@media (max-width: 991px) {
  html,
  body {
    font-size: 62.5%;
  }
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0px 1.5rem;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  color: #4E4B59;
}

h1, h2 {
  line-height: 112%;
  letter-spacing: -1px;
}

h3, h4 {
  letter-spacing: -0.5px;
  font-weight: 500;
}

h1 {
  /* D. Heading/Title-64 */
  font-weight: 600;
  font-size: 6.4rem;
}

h2 {
  /* D. Heading/Title-40 */
  font-weight: 700;
  font-size: 4rem;
}

h3 {
  /* D. Heading/Title-24 */
  font-size: 2.4rem;
  line-height: 150%;
}

h4 {
  /* D. Heading/Title-20 */
  font-size: 2rem;
  line-height: 112%;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4E4B59;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 2.8rem;
  line-height: 4.8rem;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #003478;
  border-color: #003478;
}
.btn-primary:hover {
  background-color: #C00037;
  border-color: #C00037;
}
.btn-primary-lg {
  padding: 0px 5.8rem;
  background-color: #003478;
  border-color: #003478;
}
.btn-primary-lg:hover {
  background-color: #C00037;
  border-color: #C00037;
}
.btn-outline {
  background-color: transparent !important;
  border-color: #003478;
  color: #003478;
}
.btn-outline:hover {
  color: #C00037;
  border-color: #C00037;
}

.card-post-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 38.4rem;
  gap: 1.6rem;
}
.card-post-default:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-post-default:hover .info h6 {
  color: #003478;
}
.card-post-default .image {
  position: relative;
  width: 100%;
  max-width: 38.4rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.8rem;
}
.card-post-default .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.8rem;
}
.card-post-default .info {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.card-post-default .info h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 120%;
  color: #33303E;
  margin: 0.8rem 0rem;
}
.card-post-default .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 2.4rem;
}
.card-post-default .info ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}
.card-post-default .info ul li span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #4E4B59;
}
.card-post-default .info ul li:not(:first-child)::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  /* Gray Colors/300 */
  background-color: #5F5C6B;
  position: absolute;
  border-radius: 50%;
  left: -1.5rem;
}

.card-type-default {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 28rem;
  background-color: #F0F4F9;
  padding-bottom: 3rem;
  border-radius: 0.8rem;
}
.card-type-default:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-type-default:hover .info h6 {
  color: #003478;
}
.card-type-default .icon {
  position: absolute;
  top: 18rem;
  right: 2.5rem;
}
.card-type-default .image {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 21rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-type-default .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-type-default .info {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 4rem;
  padding-left: 2.5rem;
}
.card-type-default .info h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  /* brand/dark-blue */
  color: #16243D;
}
.card-type-default .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #16243D;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.card-blog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 38rem;
  border-radius: 0.8rem;
}
.card-blog:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-blog:hover .info h6 {
  color: #003478;
}
.card-blog .image {
  position: relative;
  width: 100%;
  max-width: 38rem;
  height: 24rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-blog .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-blog .categories {
  position: absolute;
  right: 0;
  top: 20rem;
  background-color: #003478;
  padding: 1rem 2rem 1rem 5rem;
  border-top-left-radius: 3rem;
}
.card-blog .categories span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.card-blog .info {
  border: 0.1rem solid #C6C5CE;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding: 2rem 3rem;
}
.card-blog .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
.card-blog .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.card-blog .info ul li img {
  width: 100%;
  max-width: 1.6rem;
}
.card-blog .info ul li span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #33303E;
  opacity: 0.7;
}
.card-blog .info h6 {
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #16243D;
}
.card-blog .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #4E4B59;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.card-product-page {
  display: block;
  width: 100%;
  max-width: 28rem;
  height: 38rem;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-product-page:hover {
  height: 42rem;
}
.card-product-page:hover .info .learn-more {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.card-product-page:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-product-page .image {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 22rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-product-page .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-product-page .info {
  padding-top: 2rem;
  padding-left: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-product-page .info h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 120%;
  color: #003478;
  margin-bottom: 0.8rem;
}
.card-product-page .info p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #4E4B59;
  margin-bottom: 1.5rem;
}
.card-product-page .info .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.card-product-page .info .learn-more span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-decoration-line: underline;
  color: #33303E;
}

.card-horizontal-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 3.5rem;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 95rem;
  height: 35rem;
  border-radius: 2rem;
  border: 0.5px solid #C6C5CE;
}
.card-horizontal-lg .image {
  position: relative;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 100%;
  max-width: 50rem;
  height: 35rem;
  overflow: hidden;
}
.card-horizontal-lg .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-horizontal-lg .info {
  width: 100%;
  max-width: 37.2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.card-horizontal-lg .info h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 120%;
  color: #33303E;
  margin-bottom: 2.5rem;
}
.card-horizontal-lg .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 175%;
  color: #4E4B59;
  margin-bottom: 3.5rem;
}

.categorie {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 105%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #003478;
}

.small-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #5F5C6B;
}

.read-more {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #003478;
  opacity: 0.7;
}

.search {
  width: 100%;
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.6rem;
}
.search input {
  border: 1px solid rgba(51, 48, 62, 0.5);
  border-radius: 0.4rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  padding: 0 1.6rem;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #33303E;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.search input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input::placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input:focus {
  border: 1px solid #003478;
}
.search button {
  width: 3.6rem;
  height: 3.6rem;
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #003478;
  border-radius: 0.4rem;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
.search button:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.search-secondary {
  background: #FFFFFF;
  border-radius: 12.2rem;
  height: 5.6rem;
  width: 100%;
  max-width: 40.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.8rem;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.search-secondary input[type=text] {
  border: none;
  font-size: 1.5rem;
  line-height: 150%;
  color: #A0AFBA;
  outline: none;
  width: 80%;
}
.search-secondary input[type=text]::-webkit-input-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]::-moz-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]:-ms-input-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]::-ms-input-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]::placeholder {
  color: #A0AFBA;
}
.search-secondary button {
  width: 4.2rem;
  height: 4.2rem;
  background: rgba(158, 185, 225, 0.1);
  border-radius: 12.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.search-secondary button:hover {
  border: 1px solid #3E75C3;
}
.search-secondary:hover {
  border: 1px solid #3E75C3;
}

.large-cta {
  width: 100%;
  max-width: 121.6rem;
  height: 17.9rem;
  padding-left: 7rem;
  background-image: url(../assets/bg/bg-faq.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7rem;
}
.large-cta .text {
  width: 100%;
  max-width: 79.7rem;
}
.large-cta .text span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 150%;
  color: #003478;
}
.large-cta .text h3 {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 112%;
  letter-spacing: -1px;
  color: #33303E;
}