* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 1300px) {
  html,
  body {
    font-size: 58%;
  }
}
@media (max-width: 991px) {
  html,
  body {
    font-size: 62.5%;
  }
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0px 1.5rem;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  color: #4E4B59;
}

h1, h2 {
  line-height: 112%;
  letter-spacing: -1px;
}

h3, h4 {
  letter-spacing: -0.5px;
  font-weight: 500;
}

h1 {
  /* D. Heading/Title-64 */
  font-weight: 600;
  font-size: 6.4rem;
}

h2 {
  /* D. Heading/Title-40 */
  font-weight: 700;
  font-size: 4rem;
}

h3 {
  /* D. Heading/Title-24 */
  font-size: 2.4rem;
  line-height: 150%;
}

h4 {
  /* D. Heading/Title-20 */
  font-size: 2rem;
  line-height: 112%;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4E4B59;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 2.8rem;
  line-height: 4.8rem;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 700;
}
.btn-primary {
  background-color: #003478;
  border-color: #003478;
}
.btn-primary:hover {
  background-color: #C00037;
  border-color: #C00037;
}
.btn-primary-lg {
  padding: 0px 5.8rem;
  background-color: #003478;
  border-color: #003478;
}
.btn-primary-lg:hover {
  background-color: #C00037;
  border-color: #C00037;
}
.btn-outline {
  background-color: transparent !important;
  border-color: #003478;
  color: #003478;
}
.btn-outline:hover {
  color: #C00037;
  border-color: #C00037;
}

.card-post-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 38.4rem;
  gap: 1.6rem;
}
.card-post-default:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-post-default:hover .info h6 {
  color: #003478;
}
.card-post-default .image {
  position: relative;
  width: 100%;
  max-width: 38.4rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.8rem;
}
.card-post-default .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.8rem;
}
.card-post-default .info {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.card-post-default .info h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 120%;
  color: #33303E;
  margin: 0.8rem 0rem;
}
.card-post-default .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 2.4rem;
}
.card-post-default .info ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}
.card-post-default .info ul li span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #4E4B59;
}
.card-post-default .info ul li:not(:first-child)::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  /* Gray Colors/300 */
  background-color: #5F5C6B;
  position: absolute;
  border-radius: 50%;
  left: -1.5rem;
}

.card-type-default {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 28rem;
  background-color: #F0F4F9;
  padding-bottom: 3rem;
  border-radius: 0.8rem;
}
.card-type-default:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-type-default:hover .info h6 {
  color: #003478;
}
.card-type-default .icon {
  position: absolute;
  top: 18rem;
  right: 2.5rem;
}
.card-type-default .image {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 21rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-type-default .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-type-default .info {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 4rem;
  padding-left: 2.5rem;
}
.card-type-default .info h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  /* brand/dark-blue */
  color: #16243D;
}
.card-type-default .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #16243D;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.categorie {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 105%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #003478;
}

.small-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #5F5C6B;
}