@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 1300px) {
  html,
  body {
    font-size: 58%;
  }
}
@media (max-width: 600px) {
  html,
  body {
    font-size: 58%;
  }
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    padding: 0px 1.5rem !important;
  }
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  color: #4E4B59;
}

h1, h2 {
  line-height: 112%;
  letter-spacing: -1px;
}

h3, h4 {
  letter-spacing: -0.5px;
  font-weight: 500;
}

h1 {
  /* D. Heading/Title-64 */
  font-weight: 600;
  font-size: 6.4rem;
}

h2 {
  /* D. Heading/Title-40 */
  font-weight: 700;
  font-size: 4rem;
}

h3 {
  /* D. Heading/Title-24 */
  font-size: 2.4rem;
  line-height: 150%;
}

h4 {
  /* D. Heading/Title-20 */
  font-size: 2rem;
  line-height: 112%;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4E4B59;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 2.8rem;
  line-height: 4.8rem;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #003478;
  border-color: #003478;
}
.btn-primary:hover {
  background-color: #C00037;
  border-color: #C00037;
}
.btn-primary-lg {
  padding: 0px 5.8rem;
  background-color: #003478;
  border-color: #003478;
}
.btn-primary-lg:hover {
  background-color: #C00037;
  border-color: #C00037;
}
.btn-outline {
  background-color: transparent !important;
  border-color: #003478;
  color: #003478;
}
.btn-outline:hover {
  color: #C00037;
  border-color: #C00037;
}

.card-post-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 38.4rem;
  gap: 1.6rem;
}
.card-post-default:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-post-default:hover .info h6 {
  color: #003478;
}
.card-post-default .image {
  position: relative;
  width: 100%;
  max-width: 38.4rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.8rem;
}
.card-post-default .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.8rem;
}
.card-post-default .info {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.card-post-default .info h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 120%;
  color: #33303E;
  margin: 0.8rem 0rem;
}
.card-post-default .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 2.4rem;
}
.card-post-default .info ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}
.card-post-default .info ul li span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #4E4B59;
}
.card-post-default .info ul li:not(:first-child)::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  /* Gray Colors/300 */
  background-color: #5F5C6B;
  position: absolute;
  border-radius: 50%;
  left: -1.5rem;
}

.card-type-default {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 28rem;
  background-color: #F0F4F9;
  padding-bottom: 3rem;
  border-radius: 0.8rem;
}
.card-type-default:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-type-default:hover .info h6 {
  color: #003478;
}
.card-type-default .icon {
  position: absolute;
  top: 18rem;
  right: 2.5rem;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.card-type-default .icon i {
  font-size: 1.5em;
  color: #003478;
}
.card-type-default .image {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 21rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-type-default .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-type-default .info {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 4rem;
  padding-left: 2.5rem;
}
.card-type-default .info h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  /* brand/dark-blue */
  color: #16243D;
}
.card-type-default .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #16243D;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .card-type-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 3.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2.5rem;
  }
  .card-type-default .image {
    display: none;
  }
  .card-type-default .icon {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .card-type-default .info {
    padding: 0px;
  }
  .card-type-default .info p {
    display: none;
  }
  .card-type-default .info span {
    display: none;
  }
}

.card-post-blog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 38rem;
  border-radius: 0.8rem;
}
.card-post-blog:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-post-blog:hover .info h6 {
  color: #003478;
}
.card-post-blog .image {
  position: relative;
  width: 100%;
  max-width: 38rem;
  height: 24rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-post-blog .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-post-blog .categories {
  position: absolute;
  right: 0;
  top: 20rem;
  background-color: #003478;
  padding: 1rem 2rem 1rem 5rem;
  border-top-left-radius: 3rem;
}
.card-post-blog .categories span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.card-post-blog .info {
  border: 0.1rem solid #C6C5CE;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding: 2rem 3rem;
}
.card-post-blog .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
.card-post-blog .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.card-post-blog .info ul li img {
  width: 100%;
  max-width: 1.6rem;
}
.card-post-blog .info ul li span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #33303E;
  opacity: 0.7;
}
.card-post-blog .info h6 {
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #16243D;
}
.card-post-blog .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #4E4B59;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.card-product {
  display: block;
  width: 100%;
  max-width: 28rem;
  height: 38rem;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-product:hover {
  height: 42rem;
}
.card-product:hover .info .learn-more {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.card-product:hover .image img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -o-object-fit: cover;
  object-fit: cover;
}
.card-product .image {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 22rem;
  overflow: hidden;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-product .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.card-product .info {
  padding-top: 2rem;
  padding-left: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-product .info h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 120%;
  color: #003478;
  margin-bottom: 0.8rem;
}
.card-product .info p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #4E4B59;
  margin-bottom: 1.5rem;
}
.card-product .info .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.card-product .info .learn-more span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-decoration-line: underline;
  color: #33303E;
}

.card-product-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 3.5rem;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 95rem;
  height: 35rem;
  border-radius: 2rem;
  border: 0.5px solid #C6C5CE;
}
.card-product-lg .image {
  position: relative;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 100%;
  max-width: 50rem;
  height: 35rem;
  overflow: hidden;
}
.card-product-lg .image img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-product-lg .info {
  width: 100%;
  max-width: 37.2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.card-product-lg .info h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 120%;
  color: #33303E;
  margin-bottom: 2.5rem;
}
.card-product-lg .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 175%;
  color: #4E4B59;
  margin-bottom: 3.5rem;
}

.categorie {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 105%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #003478;
}

.small-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #5F5C6B;
}

.read-more {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #003478;
  opacity: 0.7;
}

.search {
  width: 100%;
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.6rem;
}
.search input {
  border: 1px solid rgba(51, 48, 62, 0.5);
  border-radius: 0.4rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  padding: 0 1.6rem;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #33303E;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.search input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input::placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 150%;
  color: rgba(51, 48, 62, 0.5);
}
.search input:focus {
  border: 1px solid #003478;
}
.search button {
  width: 3.6rem;
  height: 3.6rem;
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #003478;
  border-radius: 0.4rem;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
.search button:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.search-secondary {
  background: #FFFFFF;
  border-radius: 12.2rem;
  height: 5.6rem;
  width: 100%;
  max-width: 40.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.8rem;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.search-secondary input[type=text] {
  border: none;
  font-size: 1.5rem;
  line-height: 150%;
  color: #A0AFBA;
  outline: none;
  width: 80%;
}
.search-secondary input[type=text]::-webkit-input-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]::-moz-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]:-ms-input-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]::-ms-input-placeholder {
  color: #A0AFBA;
}
.search-secondary input[type=text]::placeholder {
  color: #A0AFBA;
}
.search-secondary button {
  width: 4.2rem;
  height: 4.2rem;
  background: rgba(158, 185, 225, 0.1);
  border-radius: 12.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.search-secondary button:hover {
  border: 1px solid #3E75C3;
}
.search-secondary:hover {
  border: 1px solid #3E75C3;
}

.large-cta {
  width: 100%;
  max-width: 121.6rem;
  height: 17.9rem;
  padding-left: 7rem;
  background-image: url(../assets/bg/bg-faq.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7rem;
}
.large-cta .text {
  width: 100%;
  max-width: 79.7rem;
}
.large-cta .text span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 150%;
  color: #003478;
}
.large-cta .text h3 {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 112%;
  letter-spacing: -1px;
  color: #33303E;
}

.small-cta {
  width: 100%;
  max-width: 80rem;
  height: 11.8rem;
  padding-left: 7rem;
  background-image: url(../assets/bg/bg-cta.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7rem;
}
.small-cta .text {
  width: 100%;
  max-width: 38.3rem;
}
.small-cta .text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 120%;
  color: #FFFFFF;
}
.small-cta .btn {
  color: #33303E;
}
.small-cta .btn-primary {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.modal {
  position: fixed;
  top: -3rem;
  left: 0;
  z-index: 2023;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .box {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 50.8rem;
  border: 1px solid #F1F0F5;
  background-color: #FFFFFF;
  border-radius: 0.4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.modal .box .close {
  position: absolute;
  top: 24px;
  right: 2.4rem;
}
.modal .box span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 130%;
  letter-spacing: 0.12em;
  color: #868E96;
  margin-bottom: 2rem;
  -ms-flex-item-align: start;
  align-self: start;
  padding-left: 5rem;
}
.modal .box h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #343A40;
  max-width: 41rem;
}
.modal .box form {
  width: 100%;
  max-width: 37rem;
  margin-top: 4rem;
}
.modal .box form .form-group {
  margin-bottom: 2.5rem;
}
.modal .box form .btn {
  width: 100%;
  max-width: 37rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1rem;
}

.form-group label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.01em;
  color: #343a40;
  display: inline-block;
  padding-bottom: 0.5rem;
}
.form-group input {
  width: 37rem;
  border: 1px solid #CED4DA;
  border-radius: 0.8rem;
  padding: 1.3rem 2rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3rem;
}
.title h6 {
  display: none;
}
.title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 112%;
  letter-spacing: -1px;
  color: #003478;
  width: 100%;
  max-width: 35rem;
  text-align: right;
  text-transform: uppercase;
}
.title p {
  width: 100%;
  max-width: 35rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #33303E;
}

.nav-top {
  padding: 20px 0px;
  border-bottom: 0.5px solid rgba(0, 52, 120, 0.3);
}
.nav-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 4.5rem;
}
.nav-top ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.nav-top ul li a img {
  width: 100%;
  max-width: 2.2rem;
}
.nav-top ul li a span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: #33303E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-top ul li a:hover span {
  color: #5F5C6B;
}
@media (max-width: 991px) {
  .nav-top ul {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .nav-top {
    display: none;
  }
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10rem;
  z-index: 2022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FFFFFF;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header.changeHeight {
  border-bottom: 0.5px solid rgba(0, 52, 120, 0.2);
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 11rem;
}
header .container .logo img {
  width: 100%;
  max-width: 9rem;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 104.6rem;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
}
header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}
header nav ul li a span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #33303E;
  text-transform: uppercase;
}
header nav ul li a img {
  width: 100%;
  max-width: 2.2rem;
}
header nav .hamburger {
  display: none;
  margin-left: 2rem;
}
header nav .hamburger.is-active .hamburger-inner, header nav .hamburger.is-active .hamburger-inner::before, header nav .hamburger.is-active .hamburger-inner::after {
  background-color: #33303E;
}
header nav .hamburger .hamburger-inner, header nav .hamburger .hamburger-inner::before, header nav .hamburger .hamburger-inner::after {
  background-color: #33303E;
}
header .menu-mobile {
  position: absolute;
  width: 100%;
  top: 10rem;
  height: calc(100vh - 100px);
  background-color: rgb(10, 6, 21);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  padding: 4rem 1.5rem;
}
@media (max-width: 1100px) {
  header nav {
    max-width: 87%;
  }
}
@media (max-width: 1050px) {
  header .container .logo img {
    max-width: 10rem;
  }
  header nav {
    max-width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  header nav .hamburger {
    display: block;
  }
  header nav ul {
    display: none;
    pointer-events: none;
  }
  header nav .btn-primary {
    display: none;
    pointer-events: none;
  }
}
@media (max-width: 668px) {
  header nav .hamburger {
    margin-left: 0px;
    padding: 0px;
  }
}

.menu-opened header .menu-mobile {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

footer {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 4rem;
  border-top: 1px solid rgba(0, 52, 120, 0.3);
}
footer .container .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 52, 120, 0.3);
  padding-bottom: 4rem;
}
footer .container .top-footer .logo-footer img {
  width: 100%;
  max-width: 10rem;
}
footer .container .top-footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
footer .container .top-footer .share span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #003478;
}
footer .container .top-footer .share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
footer .container .main-footer {
  padding: 7rem 0rem;
  border-bottom: 1px solid rgba(0, 52, 120, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .container .main-footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 7rem;
  width: 100%;
}
footer .container .main-footer nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 28rem;
}
footer .container .main-footer nav .item strong {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #003478;
}
footer .container .main-footer nav .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .container .main-footer nav .item ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #003478;
  opacity: 0.9;
}
footer .container .main-footer .item-contact {
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .container .main-footer .item-contact strong {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #003478;
}
footer .container .main-footer .item-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .container .main-footer .item-contact ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 1rem;
}
footer .container .main-footer .item-contact ul li a span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #33303E;
  opacity: 0.9;
}
footer .container .bottom-footer {
  padding: 2.5rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .container .bottom-footer p {
  width: 100%;
  max-width: 87rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
}
footer .container .bottom-footer .js-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 12rem;
  background-color: #003478;
  color: #FFFFFF;
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .container .bottom-footer .js-support span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
footer .container .bottom-footer .js-support:hover {
  background-color: #00449E;
}
footer .container .bottom-footer .js-btn-scroll-top {
  border: 1.5px solid #003478;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.4;
  border-radius: 50%;
  width: 3.7rem;
  height: 3.7rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .container .bottom-footer .js-btn-scroll-top:hover {
  opacity: 1;
}
footer .container .bottom-footer .js-btn-scroll-top img {
  max-width: 1.3rem;
}
@media (max-width: 998px) {
  footer .container .main-footer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  footer .container .main-footer nav {
    gap: 3rem;
  }
  footer .container .bottom-footer p {
    max-width: 550px;
  }
}
@media (max-width: 950px) {
  footer .container .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4rem;
  }
  footer .container .main-footer nav {
    gap: 6rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .container .main-footer nav .item {
    gap: 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .container .main-footer nav .item ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
  }
  footer .container .main-footer .item-contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .container .main-footer .item-contact ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 740px) {
  footer {
    padding-top: 2rem;
  }
  footer .container .top-footer {
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .container .top-footer .share {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .container .main-footer {
    padding: 4rem;
  }
  footer .container .main-footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .container .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
  }
  footer .container .bottom-footer p {
    text-align: center;
  }
  footer .container .bottom-footer .js-btn-scroll-top {
    position: absolute;
    right: 20px;
    bottom: 30px;
  }
}

.s-hero {
  width: 100%;
  height: 66.4rem;
  padding-top: 8rem;
  background: url("../assets/bg/hero-bg.jpg") no-repeat center center;
  background-size: cover;
}
.s-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.s-hero .container .heading {
  width: 100%;
}
.s-hero .container .heading h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 8.8rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.s-hero .container .heading h2 {
  padding-bottom: 1.5rem;
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
.s-hero .container ul {
  width: 100%;
  margin-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 2.5rem;
}
.s-hero .container ul li {
  width: 100%;
  max-width: 15rem;
  height: 16.8rem;
  background-color: #F0F4F9;
  border-radius: 0.4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.s-hero .container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4.3rem;
}
.s-hero .container ul li a i {
  color: #003478;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.s-hero .container ul li a span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  color: #16243D;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.s-hero .container ul li:hover {
  background-color: #FFFFFF;
}
.s-hero .container ul li:hover a i {
  color: #C00037;
}
.s-hero .container ul li:hover a span {
  color: #C00037;
}
@media (max-width: 850px) {
  .s-hero .container .heading h1 {
    font-size: 6.8rem;
  }
  .s-hero .container .heading h2 {
    font-size: 3.3rem;
  }
}
@media (max-width: 790px) {
  .s-hero {
    padding-top: 6rem;
    height: 85rem;
  }
  .s-hero .container ul {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 0rem;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .s-hero .container ul .item-card {
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  .s-hero .container .heading h1 {
    font-size: 4.3rem;
    text-align: center;
    width: 100%;
  }
  .s-hero .container .heading h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
  }
  .s-hero .container ul {
    grid-template-columns: 1fr;
    grid-gap: 1rem 0rem;
  }
  .s-hero .container ul .item-card {
    max-width: 70%;
  }
  .s-hero .container ul li {
    background-color: #FFFFFF;
    height: 13.8rem;
  }
  .s-hero .container ul li a {
    padding-top: 3.3rem;
    gap: 2rem;
  }
  .s-hero .container ul li a i {
    font-size: 1.8em;
  }
  .s-hero .container ul li a span {
    font-size: 14px;
  }
  .s-hero .container ul li:nth-child(3) {
    display: none;
  }
  .s-hero .container ul li:nth-child(4) {
    display: none;
  }
}
@media (max-width: 375px) {
  .s-hero .container .heading h1 {
    font-size: 3.9rem;
  }
  .s-hero .container .heading h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 320px) {
  .s-hero .container .heading h1 {
    font-size: 3.3rem;
  }
  .s-hero .container .heading h2 {
    font-size: 2rem;
  }
}

.s-trustpilot {
  margin-top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-trustpilot .container {
  background: #FFFFFF;
  height: 23.6rem;
  -webkit-box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1);
  box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1);
  border-radius: 0.6rem;
  padding: 5rem !important;
  text-align: center;
}
@media (max-width: 1160px) {
  .s-trustpilot .container {
    max-width: 90%;
  }
}
@media (max-width: 790px) {
  .s-trustpilot {
    margin-top: -3rem;
  }
}
@media (max-width: 618px) {
  .s-trustpilot {
    margin-top: 3rem;
  }
}
@media (max-width: 600px) {
  .s-trustpilot {
    margin-top: -10rem;
  }
}

.s-call {
  padding: 10.7rem 0px;
}
.s-call .container {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6rem;
}
.s-call .title h2 {
  width: 100%;
  max-width: 42rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 112%;
  text-align: center;
  letter-spacing: -1px;
  color: #003478;
  text-transform: uppercase;
}
.s-call .all-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.4rem;
}
.s-call .all-cards h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 112%;
  letter-spacing: -0.5px;
  color: #00449E;
  margin-bottom: 1.5rem;
}
.s-call .all-cards .btn {
  gap: 1.5rem;
}
.s-call .all-cards .btn-primary-lg {
  padding: 0px 5.3rem;
}
.s-call .all-cards .card-01, .s-call .all-cards .card-02, .s-call .all-cards .card-03 {
  border-radius: 0.6rem;
  background-color: #F0F4F9;
  min-width: 38.4rem;
  height: 17.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-call .all-cards .card-01 {
  padding: 0px 6.9rem;
  gap: 2rem;
}
.s-call .all-cards .card-01 .text p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 112%;
  letter-spacing: -0.5px;
  color: #00449E;
}
.s-call .all-cards .card-02 {
  padding: 0px 4.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.s-call .all-cards .card-03 {
  padding: 0px 6.9rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1150px) {
  .s-call .all-cards {
    gap: 1rem;
  }
  .s-call .all-cards .card-01, .s-call .all-cards .card-02, .s-call .all-cards .card-03 {
    min-width: 30rem;
  }
}
@media (max-width: 1063px) {
  .s-call .all-cards .card-03, .s-call .all-cards .card-02, .s-call .all-cards .card-01 {
    padding: 0px 5rem;
  }
}
@media (max-width: 991px) {
  .s-call {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .s-call .container {
    gap: 4rem;
  }
  .s-call .all-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s-call .all-cards .card-02, .s-call .all-cards .card-03, .s-call .all-cards .card-01 {
    min-width: 38rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .s-call {
    display: none;
    pointer-events: none;
  }
}

.s-logos {
  padding-bottom: 10.7rem;
}
.s-logos .container {
  padding: 9rem 0px;
  border-top: 2px solid #F0F4F9;
  border-bottom: 2px solid #F0F4F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 9rem;
}
.s-logos .container .title {
  border-left: 3px solid #003478;
  padding-left: 2rem;
}
.s-logos .container .title h6 {
  display: none;
}
.s-logos .container .title h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 120%;
  /* or 22px */
  letter-spacing: -0.5px;
  color: #003478;
  width: 100%;
  max-width: 15.2rem;
  text-transform: uppercase;
}
.s-logos .container .slide-logos {
  overflow: hidden;
}
.s-logos .container .slide-logos .swiper-wrapper {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-logos .container .slide-logos .swiper-wrapper .swiper-slide {
  width: auto !important;
}
.s-logos .container .slide-logos .swiper-wrapper .swiper-slide .card-image {
  width: 100%;
  max-width: 30rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .s-logos .container {
    padding: 4rem 1.5rem !important;
  }
}
@media (max-width: 991px) {
  .s-logos {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .s-logos .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
  }
  .s-logos .container .title h5 {
    max-width: 100%;
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  .s-logos {
    padding-bottom: 0px;
  }
  .s-logos .container {
    padding-top: 1rem !important;
    border: none;
    background: -webkit-gradient(linear, left bottom, left top, from(#F7F7FA), to(rgba(247, 247, 250, 0)));
    background: linear-gradient(0deg, #F7F7FA 0%, rgba(247, 247, 250, 0) 100%);
  }
  .s-logos .container .title {
    border: none;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0rem;
  }
  .s-logos .container .title h6 {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 112%;
    text-align: center;
    letter-spacing: -1px;
    color: #C6C5CE;
    opacity: 0.8;
    padding-bottom: 1rem;
  }
  .s-logos .container .title h5 {
    text-transform: none;
    font-size: 2.8rem;
    line-height: 112%;
    text-align: center;
    letter-spacing: -1px;
  }
}

.s-insurance {
  padding-bottom: 10.7rem;
}
.s-insurance .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 9rem;
}
.s-insurance .container .all-cards-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6rem 3.2rem;
}
@media (max-width: 991px) {
  .s-insurance .container .all-cards-type {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .s-insurance .container {
    gap: 5rem;
  }
  .s-insurance .container .title h2 {
    font-size: 2.8rem;
  }
  .s-insurance .container .title p {
    font-size: 1.6rem;
  }
  .s-insurance .container .all-cards-type {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}
@media (max-width: 480px) {
  .s-insurance {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .s-insurance .container {
    gap: 3rem;
  }
  .s-insurance .container .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
  }
  .s-insurance .container .title h6 {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 112%;
    text-align: center;
    letter-spacing: -1px;
    color: #C6C5CE;
    opacity: 0.8;
  }
  .s-insurance .container .title h2 {
    font-size: 28px;
    text-align: center;
    text-transform: none;
    max-width: 27rem;
  }
  .s-insurance .container .title p, .s-insurance .container .title img {
    display: none;
  }
  .s-insurance .container .all-cards-type {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .s-insurance .container button {
    margin-top: 1rem;
  }
}

.s-about {
  background: rgba(240, 244, 249, 0.7);
  padding: 9rem 0px;
}
.s-about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 9rem;
}
.s-about .container .title h6 {
  display: none;
}
.s-about .container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12rem;
}
.s-about .container .main .image {
  width: 100%;
  max-width: 38.4rem;
}
.s-about .container .main .image img {
  width: 100%;
}
.s-about .container .main .text {
  width: 100%;
  max-width: 50.6rem;
}
.s-about .container .main .text p {
  line-height: 175%;
}
.s-about .container .main .text ul {
  padding: 3rem 0px;
}
.s-about .container .main .text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 1rem;
}
.s-about .container .main .text button {
  margin-top: 2.5rem;
}
@media (max-width: 991px) {
  .s-about .container {
    gap: 6rem;
  }
  .s-about .container .main {
    gap: 2rem;
  }
  .s-about .container .main .image {
    max-width: 33rem;
  }
}
@media (max-width: 780px) {
  .s-about .container {
    gap: 4rem;
  }
  .s-about .container .title h2 {
    font-size: 2.8rem;
  }
  .s-about .container .title p {
    font-size: 1.6rem;
  }
  .s-about .container .main {
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .s-about .container .main .image {
    max-width: 38rem;
  }
  .s-about .container .main .text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .s-about {
    padding: 6rem 0px;
  }
  .s-about .container .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
  }
  .s-about .container .title h6 {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 112%;
    text-align: center;
    letter-spacing: -1px;
    color: #C6C5CE;
    opacity: 0.8;
  }
  .s-about .container .title h2 {
    font-size: 28px;
    text-align: center;
    max-width: 100%;
    text-transform: none;
  }
  .s-about .container .title p, .s-about .container .title img {
    display: none;
  }
  .s-about .container .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s-about .container .main .image {
    max-width: 27rem;
  }
  .s-about .container .main .text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s-about .container .main .text p {
    line-height: 150%;
    font-size: 1.8rem;
  }
  .s-about .container .main .text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem 0px;
  }
  .s-about .container .main .text ul li {
    padding-bottom: 1rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .s-about .container .main .text ul li p {
    font-size: 1.6rem;
  }
  .s-about .container .main .text ul li img {
    margin-top: 4px;
  }
  .s-about .container .main .text .none {
    display: none;
  }
  .s-about .container .main .text button {
    margin-top: 1rem;
  }
}

.s-articles {
  padding: 10.7rem 0px;
}
.s-articles .container .title h2, .s-articles .container .title p {
  max-width: 45rem;
}
.s-articles .container .title h6 {
  display: none;
}
.s-articles .container .posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 4.5rem;
  padding-top: 9rem;
}
@media (max-width: 1150px) {
  .s-articles .container .posts {
    gap: 1rem;
  }
}
@media (max-width: 991px) {
  .s-articles .container .posts {
    grid-template-columns: 1fr 1fr;
    -ms-flex-line-pack: center;
    align-content: center;
    row-gap: 2rem;
    justify-items: center;
  }
}
@media (max-width: 780px) {
  .s-articles .container .title h2 {
    font-size: 2.8rem;
  }
  .s-articles .container .title p {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .s-articles {
    padding: 6rem 0px;
  }
  .s-articles .container .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
  }
  .s-articles .container .title h2 {
    text-transform: none;
    text-align: center;
    max-width: 29rem;
  }
  .s-articles .container .title p, .s-articles .container .title img {
    display: none;
  }
  .s-articles .container .title h6 {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 112%;
    text-align: center;
    letter-spacing: -1px;
    color: #C6C5CE;
    opacity: 0.8;
  }
  .s-articles .container .posts {
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }
}

.s-newsletter {
  padding-bottom: 9rem;
}
.s-newsletter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}