.s-author{
  padding-top: 70px;
  padding-bottom: 70px;
  .container{
    display: flex;
    align-items: flex-start;
    gap: 46px;
    .s-author-image{
      width: 144px;
      height: 144px;
      background-size: cover;
    }
    .s-author-right{
      h1, span, p{
        font-family: 'Inter', sans-serif;
        color: $grey-500;
      }
      h1{
        font-size: 28px;
        margin-bottom: 7px;
      }
      span{
        font-size: 16px;
        line-height: 24px;
      }
      ul{
        display: flex;
        gap: 12px;
        padding-top: 25px;
        padding-bottom: 25px;
        li{
          a{
            i{
              font-size: 22px;
              color: $brand-blue;
            }
          }
        }
      }
    }
  }
}