// Section Hero
.s-blog-hero{
    padding: 5rem 0px;
    background: url(../assets/bg/blog-index-bg.webp) no-repeat center center;
    background-size: cover;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: visible;
        .s-blog-hero-title{
            width: 100%;
            max-width: 72.8rem;
            h1, p{
                font-family: 'Poppins', sans-serif;
                width: 100%;
            }
            h1{
                font-weight: 400;
                font-size: 4rem;
                line-height: 112%;
                color: $white;
                margin-bottom: 3rem;
            }
            p{
                font-weight: 400;
                font-size: 2rem;
                line-height: 130%;
                letter-spacing: -0.5px;
                color: $white;
            }
        }
        .s-blog-hero-search{
            width: 100%;
            max-width: 403px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    // Responsive
    @media (max-width: 768px){
        .container{
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            text-align: center;
            .s-blog-hero-title{
                max-width: 100%;
            }

        }
    }
    @media (max-width: 560px){
        .container{
            .s-blog-hero-title{
                h1{
                    font-size: 3rem;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
// Section Links
.s-blog-links{
    padding: 6rem 0px;
    .container{
        overflow-x: visible;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                width: 100%;
                max-width: 29rem;
                background-color: $brand-light-blue;
                padding: 0px;
                border-radius: 4px;
                border: 0.5px solid transparent;
                transition: all .3s;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover, &.active{
                    background-color: rgba(76,116,168,.8);
                    
                    a{
                        p,i{
                            color: white;
                        }
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    padding: 26px 20px;
                    transition: all .3s;
                    p{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 112%;
                        letter-spacing: -0.5px;
                        color: $brand-blue;
                        transition: all .3s;
                    }
                    i{
                        font-size: 1.8rem;
                        line-height: 112%;
                        letter-spacing: -0.5px;
                        color: $brand-blue;
                        transition: all .3s;
                    }
                }
                
            }
        }
    }
    // Responsive
    @media (max-width: 1100px){
        padding: 4rem 0px;
        .container{
            ul{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }
    }
    @media (max-width: 560px){
        .container{
            ul{
                li{
                    a{
                        p, i{
                            font-size: 1.6rem;
                        }

                    }
                }
            }
        }
    }
}
// Section Mobile Tags
.s-mobile-tags{
    display: none;
    pointer-events: none;
    width: 100%;
    z-index: 2019;
    left: 0;
    height: auto;
    overflow: visible;
    padding-bottom: 4rem;
    .container{
        overflow: visible;
        .select-custom{
            display: block;
            position: relative;
            margin-bottom: 2rem;
            // make active the dropdown select option
            &.active{
                .item-selected{
                    border-radius: 1rem 1rem 0 0;
                }
                .dropdown-select{
                    opacity: 1;
                    pointer-events: all;
                }
            }
            // main item 
            .item-selected{
                cursor: pointer;
                width: 100%;
                height: 5.6rem;
                border: 0.1rem solid #a0afba;
                border-radius: 1rem;
                background: url("../assets/icons/arrow-down-select.svg") no-repeat right 2.4rem center; // position the arrow in the right side
                padding: 0 2rem;
                display: flex; 
                align-items: center;
                span{
                    color: #7a7d80;
                    opacity: 0.6;
                    font-size: 16px;
                    margin-right: 0.4rem;
                }
                strong{
                    font-size: 16px;
                    color: #7a7d80;
                    font-weight: 600;
                }   
            }
            .dropdown-select{
                position: absolute;
                z-index: 200;
                width: 100%;
                height: 22.3rem;
                border: 0.1rem solid #a0afba;
                background-color: white;
                border-top: 0;
                padding: 2.1rem;
                top: 5.6rem;
                // configuration for JS (open/close dropdown)
                opacity: 0;
                pointer-events: none;
                transition: all .3s;
                // hide all elements which are not part of the dropdown
                overflow-y: auto; // barra the rolagem
                // customize the bar y
                &::-webkit-scrollbar-track{
                    // the whole area
                    background-color: transparent;
                }
                &::-webkit-scrollbar{
                    width: 0.5rem;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb{
                    // the scrollbar itself
                    background-color: $brand-blue;
                    border-radius: 0.5rem;
                }
                li{
                    &:first-child{
                        button{
                            padding-top: 0rem;
                        }
                    }
                    button{
                        padding: 1.2rem;
                    }
                    p{
                        padding: 1.5rem 0rem;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1029px){
        display: block;
        pointer-events: all;
    }
}
// Section Main Content
.s-main-content{
    padding-bottom: 9rem;
    .container{
        overflow-x: visible;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .side-category{
            background: $brand-light-blue;
            padding-bottom: 5px;
            width: 100%;
            min-height: 100vh;
            height: 100%;
            max-width: 39.2rem;
            border-right: 2px solid #F0F4F9;
            // Sticky Position
            position: sticky;
            top: 150px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-top: 5px;
                padding-left: 5px;
                li{
                    background-color: $white;
                    padding: 15px 30px;
                    transition: all 0.3s;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            transition: all 0.3s;
                            font-family: 'Inter', sans-serif;
                            font-weight: 600;
                            font-size: 1.6rem;
                            line-height: 150%;
                            color: $brand-blue;
                        }
                        img{
                            // hide the state default
                            pointer-events: none;
                            opacity: 0;
                            transition: all .3s ease;
                            transform: translateX(-15px); // put to right side
                        }
                    }
                    &:hover, &.active{
                        background: rgba(76, 116, 168, 0.8);
                        a{
                            p{
                                color: $white;
                            }
                            img{
                                // hide the state default
                                pointer-events: all;
                                opacity: 1;
                                transform: translateX(0px); // put to right side
                            }
                        }
                        
                    }
                }
            }
        }
        .s-all{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            gap: 8rem;
            .alm-listing{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 60px 40px;
            }
            .alm-btn-wrap{
                display: flex;
                margin-top: 5rem;
            }
            .btn-outline{
                justify-self: center;
                margin: 0 auto;
            }
        }
    }
    // Responsive
    @media (max-width: 1200px){
        .container{
            .side-category{
                max-width: 28rem;
            }
            .s-all{
                .alm-listing{
                    grid-gap: 15px 15px;
                }
            }
        }
    }
    @media (max-width: 1030px){
        .container{
            align-items: center;
            justify-content: center;
            .side-category{
                display: none;
            }
        }
    }
    @media (max-width: 625px){
        .container{
            .s-all{
                gap: 4rem;
                .alm-listing{
                    grid-template-columns: 1fr;
                    grid-gap: 2rem;
                }
            }
        }
    }
}
// Section Resources Index
.s-resources-blog{
    padding-bottom: 9rem;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .resources-blog-left{
            width: 100%;
            max-width: 80rem;
            h4{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 3rem;
                line-height: 120%;
                color: $grey-600;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid rgba(0, 52, 120, 0.3);
            }
            ul{
                margin-top: 3rem;
                margin-bottom: 5rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                li{
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    &:not(:last-child){
                        border-bottom: 1px solid rgba(0, 52, 120, 0.3);
                    }
                    a{
                        p{
                            width: 100%;
                            max-width: 56rem;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 112%;
                            letter-spacing: -0.5px;
                            color: $grey-600;
                            transition: all .3s;
                        }
                    }
                    &:hover{
                        a{
                            p{
                                color: $grey-300;
                            }
                        }
                    }
                }
            }
        }
        .resources-blog-right{
            width: 100%;
            max-width: 38.4rem;
            background: #F0F4F9;
            border-radius: 0.6rem;
            padding: 4rem 3rem 4rem 3rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            h5{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                line-height: 112%;
                letter-spacing: -0.5px;
                color: $grey-600;
            }
            .form-subscribe{
                display: flex;
                align-items: center;
                input{
                    padding: 1.5rem;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border: 0.5px solid $grey-200;
                }
                button{
                    background-color: $brand-blue;
                    color: $white;
                    padding: 1.5rem;
                    border-top-right-radius: 3px;
                    border-end-end-radius: 3px;
                    border: 0.5px solid $brand-blue;
                }
            }
            ul{
                display: flex;
                gap: 1rem;
                flex-direction: column;
                li{
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    &:before{
                        content: "";
                        min-width: 6px;
                        min-height: 4px;
                        display: inline-block;
                        background-color: #9995A6;
                        margin-top: 1.3rem;
                        margin-right: 1.6rem;
                        transition: all .3s;
                    }
                    p{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 150%;
                        color: $grey-400;
                    }
                }
            }
            p{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: $grey-400;
            }
        }
    }
    // Responsive
    @media (max-width: 1440px){
        .container{
            .resources-blog-right{
                max-width: 41rem;
                padding: 4rem 2rem 4rem 2.5rem;
            }
        }
    }
    @media (max-width: 1150px){
        .container{
            .resources-blog-left{
                max-width: 65rem;
            }
        }
        
    }
    @media (max-width: 1000px){
        .container{
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            align-items: center;
            text-align: center;
            .resources-blog-left{
                ul{
                    margin-bottom: 3rem;
                }
            }
        }
    }
    @media (max-width: 630px){
        .container{
            .resources-blog-left{
                ul{
                    align-items: center;
                    justify-content: center;
                    li{
                        a{
                            p{
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 480px){
        padding-top: 4rem;
    }
    @media (max-width: 375px){
        .container{
            .resources-blog-right{
                gap: 2rem;
                padding: 2rem 1rem 2rem 1rem;
                ul{
                    text-align: left;
                }
                .form-subscribe{
                    input{
                        padding: 1rem;
                    }
                    button{
                        padding: 1rem;
                    }
                }
            }
        }
    }
    @media (max-width: 320px){
        .container{
            .resources-blog-right{
                .form-subscribe{
                    flex-direction: column;
                    button{
                        padding: 1rem 9.2rem;
                        border-top-right-radius: 0px;
                        border-end-end-radius: 3px;
                        border-end-start-radius: 3px;
                    }
                    input{
                        padding: 1rem 3rem;
                    }
                }
            }
        }
    }
}