// Buttons
.btn{
    display: inline-flex;
    padding: 0px 2.8rem;
    line-height: 4.8rem;
    border-radius: 0.4rem;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid transparent;
    align-items: center;
    gap: 1rem;
    transition: color .3s, background-color .3s;
    font-weight: 700;
    text-transform: uppercase;
    &-primary{
        background-color: $brand-dark-blue;
        border-color: $brand-dark-blue;
        &:hover{
            background-color: $brand-dark-red;
            border-color: $brand-dark-red;
        }
    }
    &-primary-lg{
        padding: 0px 5.8rem;
        background-color: $brand-dark-blue;
        border-color: $brand-dark-blue;
        &:hover{
            background-color: $brand-dark-red;
            border-color: $brand-dark-red;
        }
    }
    &-outline{
        background-color: transparent !important;
        border-color: $brand-dark-blue;
        color: $brand-dark-blue;
        &:hover{
            color: $brand-dark-red;
            border-color: $brand-dark-red;
        }
    }
    &.done{
        display: none;
    }
}
// Cards
.card-post-default{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 38.4rem;
    gap: 1.6rem;
    &:hover{
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .info{
            h6{
                color: $brand-dark-blue;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 38.4rem;
        height: 20rem;
        overflow: hidden;
        border-radius: 0.8rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-radius: 0.8rem;
        }
    }
    .info{
        width: 100%;
        flex: 1;
        h6{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: $grey-600;
            margin: 0.8rem 0rem;
        }
        ul{
            @include flex(row, center, flex-start);
            gap: 2.4rem;
            li{
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                span{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: $grey-500;
                }
                &:not(:first-child){
                    &::after{
                        content: "";
                        width: 0.6rem;
                        height: 0.6rem;
                        /* Gray Colors/300 */
                        background-color: $grey-400;
                        position: absolute;
                        border-radius: 50%;
                        left: -1.5rem;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 480px){
        align-items: center;
        .image{
            height: 17rem;
        }
        .info{
            text-align: center;
            h6{
                font-size: 16px;
            }
            ul{
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.card-type-default{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 28rem;
    background-color: $brand-light-blue;
    padding-bottom: 3rem;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    &:hover{
        box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
        z-index: 500;
        transition: all .5s ease-in-out;
        .info{
            h6{
                color: $brand-dark-blue;
            }
        }
    }
    .icon{
        position: absolute;
        top: 18rem;
        right: 2.5rem;
        width: 5.6rem;
        height: 5.6rem;
        border: 0.5px solid rgba(198, 197, 206, 0.4);
        i{
            font-size: 1.5em;
            color: $brand-dark-blue;
        }
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 28rem;
        height: 21rem;
        overflow: hidden;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        background: white;
        border: 1.5px solid rgba(198, 197, 206, 0.5);
        img{
            transition: all .5s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 0.8rem;
            border-top-left-radius: 0.8rem;
        }
    }
    .info{
        width: 100%;
        flex: 1;
        padding-top: 4rem;
        padding-left: 2.5rem;
        h4{
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.2rem;
            /* brand/dark-blue */
            color: $brand-black;
        }
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $brand-black;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
    }
    // Responsive
    @media (max-width: 480px){
        display: flex;
        padding: 2rem 3.5rem;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        .image{
            display: none;
        }
        .icon{
            position: relative;
            top: 0px;
            right: 0px;
        }
        .info{
            padding: 0px;
            p{
                display: none;
            }
            span{
                display: none;
            }
        }
    }
}
.card-post-blog{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 38rem;
    border-radius: 0.8rem;
    border: 0.01rem solid rgba(198, 197, 206, 0.5);
    &:hover{
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .info{
            h6{
                color: $brand-dark-blue;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 38rem;
        height: 24rem;
        overflow: hidden;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-top-right-radius: 0.8rem;
            border-top-left-radius: 0.8rem;
        }
    }
    .categories{
        position: absolute;
        right: 0;
        top: 20rem;
        span{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        background-color: $brand-dark-blue;
        padding: 1rem 2rem 1rem 5rem;
        border-top-left-radius: 3rem;
    }
    .info{
        
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        padding: 2rem 3rem;
        width: 100%;
        ul{
            display: flex;
            align-items: center;
            gap: 2rem;
            li{
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                img{
                    width: 100%;
                    max-width: 1.6rem;
                }
                span{
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    color: $grey-600;
                    opacity: 0.7;
                }
            }
        }
        h5{
            margin-bottom: 2rem;
            margin-top: 3rem;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $brand-black;
        }
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $grey-400;
            margin-bottom: 1rem;
        }
    }
}
.card-product{
    display: block;
    width: 100%;
    max-width: 28rem;
    height: 37rem;
    position: relative;
    background-color: $white;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    transition: all .5s;
    &:hover{
        .image{

            img{
                transform: scale(1.05);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 28rem;
        min-height: 21rem;
        max-height: 21rem;
        overflow: hidden;
        border-top-right-radius: 0.6rem;
        border-top-left-radius: 0.6rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-top-right-radius: 0.6rem;
            border-top-left-radius: 0.6rem;
        }
    }
    .info{
        position: absolute;
        border-radius: 5px;
        padding-top: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 0px;
        width: 100%;
        max-width: 26rem;
        transition: all .3s;
        background-color: white;
        bottom: 25px;
        left: 10px;
        h6{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 120%;
            color: $brand-dark-blue;
            margin-bottom: 0.8rem;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $grey-500;
            margin-bottom: 1.5rem;
        }
        .learn-more{
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all .3s ease;
            span{
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                text-decoration-line: underline;
                color: $grey-600;
            }
            img{
                transform: rotate(-90deg);
                max-width: 18px;
            }
        }
    }
    // Responsive
    @media (max-width: 1240px){
        .info{
            bottom: 0px;
            left: 0px;
            padding-bottom: 2rem;
            width: 100%;
            max-width: 269px;
        }
    }
    @media (max-width: 600px){
        height: 10rem;
        .image{
            display: none;
        }
        .info{
            padding-left: 2rem;
            border-radius: 0px;
            p{
                display: none;
            }
        }
    }
}
.card-van{
    display: block;
    width: 100%;
    max-width: 28rem;
    height: 31rem;
    position: relative;
    background-color: $white;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    transition: all .3s ease-in-out;
    &:hover{
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 28rem;
        height: 22rem;
        overflow: hidden;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-top-right-radius: 0.8rem;
            border-top-left-radius: 0.8rem;
        }
    }
    .info{
        padding: 1.5rem;
        transition: all .3s;
        border: 2px solid #f0f4f9;
        border-end-end-radius: 4px;
        margin-top: -2px;
        border-end-start-radius: 4px;
        h6{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 120%;
            color: $brand-dark-blue;
            margin-bottom: 0.8rem;
            text-align: center;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: $grey-500;
            margin-bottom: 1.5rem;
        }
        .learn-more{
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all .3s ease;
            span{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 120%;
                text-decoration-line: underline;
                color: $grey-600;
            }
        }
    }
    // Responsive
    @media (max-width: 600px){
        height: 80px;
        .image{
            display: none;
        }
        .info{
            padding: 1.7rem;
            border-end-end-radius: 0px;
            border-end-start-radius: 0px;
            border: 2px solid #f0f4f9;
            margin-top: 0px;
            h6{
                margin-bottom: 0px;
            }
            p{
                display: none;
            }
        }
    }
}
.card-product-lg{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
    background-color: $white;
    width: 100%;
    max-width: 95rem;
    height: 35rem;
    border-radius: 2rem;
    border: 0.5px solid #C6C5CE;
    .image{
        position: relative;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        width: 100%;
        max-width: 50rem;
        height: 35rem;
        overflow: hidden;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
        }
    }
    .info{
        width: 100%;
        max-width: 37.2rem;
        flex: 1;
        h4{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 120%;
            color: $grey-600;
            margin-bottom: 2.5rem;
        }
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 175%;
            color: $grey-500;
            margin-bottom: 3.5rem;
        }
    }
    // Responsive
    @media (max-width: 991px){
        height: 28rem;
        border-radius: 2rem;
        .image{
            max-width: 30rem;
            height: 28rem;
        }
        .info{
            max-width: 50rem;
            h4{
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: 1rem;
            }
        }
    }
    @media (max-width: 768px){
        flex-direction: column;
        height: auto;
        padding: 2rem 0px;
        text-align: center;
        .image{
            display: none;
        }
        .info{
            max-width: 80%;
            h4{
                font-size: 2.8rem;
            }
            p{
                line-height: 150%;
                font-size: 1.6rem;
            }
        }

    }
}
.card-about{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        width: 100%;
        max-width: 200px;
        max-height: 213px;
        transition: all .5s;
        border-radius: 5px;
        object-fit:cover;
        overflow: hidden;
    }
    &:hover{
        cursor: auto;
    }
    h6,p{
        font-family: 'Inter', sans-serif;
        color: $brand-blue;
        line-height: 175%;
    }
    h6{
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }
    p{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 175%;
    }
    @media (max-width: 560px){
        img{
            max-width: 15rem;
        }
    }
}
// Category title
.categorie{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 105%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $brand-dark-blue;
}
.small-text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: $grey-400;
}
.read-more{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $brand-dark-blue;
    opacity: 0.7;
}
// Search
.search{
    width: 100%;
    max-width: 28rem;
    display: flex;
    align-items: center;
    height: 3.6rem;
    input{
        border: 1px solid rgba(51, 48, 62, 0.5);
        border-radius: 0.4rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        flex: 1; // max possible
        background-color: transparent;
        padding: 20px 1.6rem;
        height: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: $grey-600;
        transition: border .3s ease;
        &::placeholder{
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: rgba(51, 48, 62, 0.5);
        }
        &:focus{
            border: 1px solid $brand-dark-blue;
        }
    }
    button{
        width: 4.3rem;
        height: 42.27px;
        margin-left: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand-dark-blue;
        border-radius: 0.4rem;
        transition: filter .3s ease;
        &:hover{
            filter: brightness(0.8)
        }
    }
}
.search-secondary{
    background: #FFFFFF;
    border-radius: 12.2rem;
    height: 5.6rem;
    width: 100%;
    max-width: 40.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 0.8rem;
    input[type=text]{
        border: none;
        font-size: 1.5rem;
        line-height: 150%;
        color: #A0AFBA;
        outline: none;
        width: 80%;
        &::placeholder{
            color: #A0AFBA;
        }
    }
    button{
        width: 4.2rem;
        height: 4.2rem;
        background: rgba(158, 185, 225, 0.1);
        border-radius: 12.2rem;
        @include centerTotalFlex;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color .3s;
        &:hover{
            border: 1px solid #3E75C3;
        }
    }
    border: 1px solid transparent;
    transition: border-color .3s;
    &:hover{
        border: 1px solid #3E75C3;
    }
}
// CTA
.large-cta{
    width: 100%;
    max-width: 121.6rem;
    height: 17.9rem;
    padding-left: 7rem;
    background-image: url(../assets/bg/bg-cta-lg.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    border-radius: 3rem;
    .text{
        width: 100%;
        max-width: 79.7rem;
        span{
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 150%;
            color: $brand-dark-blue;
            text-transform: uppercase;
        }
        h3{
            margin-top: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 112%;
            letter-spacing: -1px;
            color: $grey-600;
        }
    }
    // Responsive
    @media (max-width: 1150px){
        gap: 3rem;
        padding-left: 2rem;
        .text{
            span{
                display: none;
                pointer-events: none;
            }
            h3{
                margin-top: 0px;
                text-align: center;
            }
        }
    }
    @media (max-width: 991px){
        padding-left: 1rem;
        gap: 3rem;
        height: 15rem;
        justify-content: center;
        border-radius: 3rem;
        .text{
            max-width: 36rem;
            h3{
                font-size: 2.6rem;
            }
            span{
                text-transform: none;
                text-align: center;
            }
        }
    }
    @media (max-width: 600px){
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        background-image: none;
        padding: 0px;
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            text-align: center;
            h3{
                font-size: 2.8rem;
                color: $brand-dark-blue;
            }
            span{
                display: block;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 112%;
                text-align: center;
                letter-spacing: -1px;
                color: $grey-300;
                opacity: 0.9;
                padding-bottom: 1.5rem;
            }
        }
    }
}
.small-cta{
    width: 100%;
    max-width: 80rem;
    height: 11.8rem;
    background-image: url(../assets/bg/bg-cta-sm.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    border-radius: 2rem;
    .text{
        width: 100%;
        max-width: 36rem;
        h3{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 120%;
            color: $white;
        }
    }
    .btn{
        color: $grey-600;
        &-primary{
            background-color: $white;
            border-color: $white;
        }
    }
    // Responsive
    @media (max-width: 1380px){
        gap: 4rem;
        border-radius: 2rem;
        .text{
            h3{
                font-size: 2.4rem;
            }
        }
    }
    @media (max-width: 720px){
        background-image: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: $brand-light-blue;
        height: 100%;
        .text{
            max-width: 28.3rem;
            h3{
                color: $brand-blue;
                font-size: 2.4rem;
            }
        }
    }
}
// class to show modal
.show-modal{
    .modal{
        opacity: 1;
        pointer-events: all;
        .box{
            transform: translateY(0px);
        }
    }
}
// Modal
.modal{
    position: fixed;
    top: -3rem;
    left: 0;
    z-index: 2023; // top of the site
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; // hide with opacity otherwise we can not make the transition with modal
    pointer-events: none; // cancel click area
    transition: opacity .3s;
    .overlay{
        position: fixed; // does not apply the display flex
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .box{
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 50.8rem;
        border: 1px solid #F1F0F5;
        background-color: $white;
        border-radius: 0.4rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        // to go down to make transition up
        transform: translateY(50px);
        transition: transform .3s;
        .close{
            position: absolute;
            top: 24px;
            right: 2.4rem;
        }
        span{
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 130%;
            letter-spacing: 0.12em;
            color: #868E96;
            margin-bottom: 2rem;
            align-self: start;
            padding-left: 5rem;
        }
        h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 130%;
            text-align: center;
            letter-spacing: -0.04em;
            color: #343A40;
            max-width: 41rem;
        }
        form{
            width: 100%;
            max-width: 37rem;
            margin-top: 4rem;
            .form-group{
                margin-bottom: 2.5rem;
            }
            .btn{
                width: 100%;
                max-width: 37rem;
                justify-content: center;
                margin-top: 1rem;
            }
        }
    }
}
.form-group{
    label{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: -0.01em;
        color: #343a40;
        display: inline-block;
        padding-bottom: 0.5rem;
    }
    input{
        width: 37rem;
        border: 1px solid #CED4DA;
        border-radius: 0.8rem;
        padding: 1.3rem 2rem;
    }
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    h6{
        display: none;
        color: $grey-300;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 112%;
        letter-spacing: -1px;
        color: $brand-dark-blue;
        width: 100%;
        max-width: 35rem;
        text-align: right;
        text-transform: uppercase;
    }
    p{
        width: 100%;
        max-width: 35rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        letter-spacing: -0.5px;
        color: $grey-600;
    }
}