// Buttons
.btn{
    display: inline-flex;
    padding: 0px 2.8rem;
    line-height: 4.8rem;
    border-radius: 0.4rem;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid transparent;
    align-items: center;
    gap: 1rem;
    transition: color .3s, background-color .3s;
    font-weight: 700;
    &-primary{
        background-color: $brand-dark-blue;
        border-color: $brand-dark-blue;
        &:hover{
            background-color: $brand-dark-red;
            border-color: $brand-dark-red;
        }
    }
    &-primary-lg{
        padding: 0px 5.8rem;
        background-color: $brand-dark-blue;
        border-color: $brand-dark-blue;
        &:hover{
            background-color: $brand-dark-red;
            border-color: $brand-dark-red;
        }
    }
    &-outline{
        background-color: transparent !important;
        border-color: $brand-dark-blue;
        color: $brand-dark-blue;
        &:hover{
            color: $brand-dark-red;
            border-color: $brand-dark-red;
        }
    }



}
// Cards
.card-post-default{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 38.4rem;
    gap: 1.6rem;
    &:hover{
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .info{
            h6{
                color: $brand-dark-blue;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 38.4rem;
        height: 20rem;
        overflow: hidden;
        border-radius: 0.8rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-radius: 0.8rem;
        }
    }
    .info{
        width: 100%;
        flex: 1;
        h6{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 120%;
            color: $grey-600;
            margin: 0.8rem 0rem;
        }
        ul{
            @include flex(row, center, flex-start);
            gap: 2.4rem;
            li{
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                span{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 150%;
                    color: $grey-500;
                }
                &:not(:first-child){
                    &::after{
                        content: "";
                        width: 0.6rem;
                        height: 0.6rem;
                        /* Gray Colors/300 */
                        background-color: $grey-400;
                        position: absolute;
                        border-radius: 50%;
                        left: -1.5rem;
                    }
                }
            }
        }
    }
}
.card-type-default{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 28rem;
    background-color: $brand-light-blue;
    padding-bottom: 3rem;
    border-radius: 0.8rem;
    &:hover{
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .info{
            h6{
                color: $brand-dark-blue;
            }
        }
    }
    .icon{
        position: absolute;
        top: 18rem;
        right: 2.5rem;
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 28rem;
        height: 21rem;
        overflow: hidden;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-top-right-radius: 0.8rem;
            border-top-left-radius: 0.8rem;
        }
    }
    .info{
        width: 100%;
        flex: 1;
        padding-top: 4rem;
        padding-left: 2.5rem;
        h6{
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.2rem;
            /* brand/dark-blue */
            color: $brand-black;
        }
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $brand-black;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}
.card-blog{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 38rem;
    border-radius: 0.8rem;
    &:hover{
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .info{
            h6{
                color: $brand-dark-blue;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 38rem;
        height: 24rem;
        overflow: hidden;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        img{
            transition: all .3s ease-in;

            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-top-right-radius: 0.8rem;
            border-top-left-radius: 0.8rem;
        }
    }
    .categories{
        position: absolute;
        right: 0;
        top: 20rem;
        span{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        background-color: $brand-dark-blue;
        padding: 1rem 2rem 1rem 5rem;
        border-top-left-radius: 3rem;
    }
    .info{
        border: 0.1rem solid #C6C5CE;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        padding: 2rem 3rem;
        ul{
            display: flex;
            align-items: center;
            gap: 2rem;
            li{
                display: flex;
                align-items: center;
                gap: 1rem;
                img{
                    width: 100%;
                    max-width: 1.6rem;
                }
                span{
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    color: $grey-600;
                    opacity: 0.7;
                }
            }
        }
        h6{
            margin-bottom: 2rem;
            margin-top: 3rem;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $brand-black;
        }
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $grey-500;
            opacity: 0.7;
            margin-bottom: 1rem;
        }
    }
}
.card-product-page{
    display: block;
    width: 100%;
    max-width: 28rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
    background-color: $white;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    transition: all .3s ease-in-out;
    &:hover{
        height: 42rem;
        .info{
            .learn-more{
                pointer-events: all;
                opacity: 1;
                transform: translateX(0px); // put to back to left side
            }
        }
        .image{
            img{
                transform: scale(1.04);
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
    .image{
        position: relative;
        width: 100%;
        max-width: 28rem;
        height: 22rem;
        overflow: hidden;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        img{
            transition: all .3s ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover; // cover size img
            border-top-right-radius: 0.8rem;
            border-top-left-radius: 0.8rem;
        }
    }
    .info{
        padding-top: 2rem;
        padding-left: 2.5rem;
        transition: all .3s;
        h6{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 120%;
            color: $brand-dark-blue;
            margin-bottom: 0.8rem;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: $grey-500;
            margin-bottom: 1.5rem;
        }
        .learn-more{
            
            display: flex;
            align-items: center;
            gap: 1rem;
            // hide the state default
            pointer-events: none;
            opacity: 0;
            transition: all .3s ease;
            transform: translateX(-10px); // put to right side
            span{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                text-decoration-line: underline;
                color: $grey-600;
            }
        }
    }
}
// Category title
.categorie{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 105%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $brand-dark-blue;
}
.small-text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: $grey-400;
}
.read-more{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $brand-dark-blue;
    opacity: 0.7;
}
// Search
.search{
    width: 100%;
    max-width: 28rem;
    display: flex;
    align-items: center;
    height: 3.6rem;
    input{
        border: 1px solid rgba(51, 48, 62, 0.5);
        border-radius: 0.4rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        flex: 1; // max possible
        background-color: transparent;
        padding: 0 1.6rem;
        height: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 1.6rem;
        color: $grey-600;
        transition: border .3s ease;
        &::placeholder{
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 150%;
            color: rgba(51, 48, 62, 0.5);
        }
        &:focus{
            border: 1px solid $brand-dark-blue;
        }
    }
    button{
        width: 3.6rem;
        height: 3.6rem;
        margin-left: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand-dark-blue;
        border-radius: 0.4rem;
        transition: filter .3s ease;
        &:hover{
            filter: brightness(0.8)
        }
    }
}