footer{
    width: 100%;
    background-color: $white;
    padding-top: 4rem;
    border-top: 1px solid rgba(0, 52, 120, 0.3);
    .container{
        .top-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 52, 120, 0.3);
            padding-bottom: 4rem;
            .logo-footer{
                img{
                    width: 100%;
                    max-width: 80px !important;
                    max-height: 82px !important;
                }
            }
            .share{
                display: flex;
                align-items: center;
                gap: 30px;
                span{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    color: $brand-dark-blue;
                }
                ul{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                }
            }
        }
        .main-footer{
            padding: 7rem 0rem;
            border-bottom: 1px solid rgba(0, 52, 120, 0.3);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            nav{
                display: flex;
                align-items: flex-start;
                gap: 7rem;
                width: 100%;
                .item{
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                    flex-direction: column;
                    max-width: 28rem;
                    strong{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: $brand-dark-blue;
                    }
                    ul{
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;
                        flex-direction: column;
                        li{
                            a{
                                font-family: 'Poppins', sans-serif;
                                font-weight: 400;
                                font-size: 1.4rem;
                                line-height: 2.1rem;
                                color: $brand-dark-blue;
                                opacity: 0.9;
                                transition: all .3s;
                                &:hover{
                                    opacity: 1;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .item-contact{
                max-width: 28rem;
                display: flex;
                align-items: flex-start;
                gap: 20px;
                flex-direction: column;
                strong{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    color: $brand-dark-blue;
                }
                ul{
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                    flex-direction: column;
                    li{
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 1rem;
                            span{
                                font-family: 'Poppins', sans-serif;
                                font-weight: 400;
                                font-size: 1.4rem;
                                line-height: 2.1rem;
                                color: $grey-600;
                                opacity: 0.9;
                            }
                            transition: all .3s;
                            &:hover{
                                opacity: 1;
                                text-decoration: underline;
                                color: $grey-600;
                            }
                        }
                        
                    }
                }
            }
        }
        .bottom-footer{
            padding: 2.5rem 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                width: 100%;
                max-width: 87rem;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 150%;
            }
            .js-support{
                display: flex;
                align-items: center;
                gap: 10px;
                border-radius: 12rem;
                background-color: $brand-dark-blue;
                color: $white;
                padding: 1rem 2rem;
                transition: all .3s ease-in-out;
                span{
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                }
                &:hover{
                    background-color: $brand-blue;
                }
            }
            .js-btn-scroll-top{
                border: 1.5px solid #003478;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.4;
                border-radius: 50%;
                width: 3.7rem;
                height: 3.7rem;
                transition: all .3s;
                background-color: transparent;
                &:hover{
                    opacity: 1;
                }
                img{
                    max-width: 1.3rem;
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1200px){
        .container{
            .main-footer{
                justify-content: flex-start;
                nav{
                    gap: 3rem;
                }
            }
            .bottom-footer{
                p{
                    max-width: 58rem;
                }
            }
        }
    }
    @media (max-width: 950px){
        .container{
            .main-footer{
                flex-direction: column;
                align-items: center;
                gap: 4rem;
                nav{
                    gap: 6rem;
                    justify-content: center;
                    .item{
                        gap: 1.5rem;
                        align-items: center;
                        ul{
                            text-align: center;
                            align-items: center;
                            gap: 1.5rem;
                        }
                    }
                }
                .item-contact{
                    align-items: center;
                    ul{
                        align-items: center;
                    }
                }
            }
        }
    }
    @media (max-width: 780px){
        padding-top: 2rem;
        .container{
            .top-footer{
                padding-bottom: 2rem;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                .share{
                    flex-direction: column;
                    span{
                        font-size: 15px;
                    }
                }
            }
            .main-footer{
                padding: 4rem;
                nav{
                    flex-direction: column;
                    gap: 3rem;
                    align-items: center;
                    justify-content: center;
                    .item{
                        strong{
                            font-size: 15px;
                        }
                        ul{
                            li{
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .item-contact{
                    max-width: 32rem;
                    strong{
                        font-size: 15px;
                    }
                    ul{
                        li{
                            a{
                                span{
                                    font-size: 14px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .bottom-footer{
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
                position: relative;
                p{
                    text-align: center;
                    font-size: 14px;
                }
                .js-btn-scroll-top{
                    position: absolute;
                    right: 20px;
                    bottom: 26px;
                }
            }
        }
    }
}