.nav-top{
    padding: 20px 0px;
    border-bottom: 0.5px solid rgba(0, 52, 120, 0.3);
    z-index: 5;
    background-color: $white;
    position: relative;
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4.5rem;
        li{
            a{
                display: flex;
                align-items: center;
                gap: 1rem;
                img{
                    width: 100%;
                    max-width: 2.2rem;
                }
                span{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 100%;
                    color: $grey-600;
                    transition: all .3s;
                }
                &:hover{
                    span{
                        color: $grey-400;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 991px){
        ul{
            gap: 3rem;
        }
    }
    @media (max-width: 600px){
        display: none;
        // Display this area in the mobile
    }
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10rem;
    z-index: 2022;
    display: flex;
    flex-direction: column;
    background-color: $white;
    transition: all .4s ease-in-out;
    border-bottom: 0.5px solid rgba(0,52,120,.3);
    &.changeHeight{
        border-bottom: 0.5px solid rgba(0, 52, 120, 0.2);
        height: 8rem;
        .container{
            .dropdown-sub-menu{
                top: 7.8rem;
            }
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: visible;
        height: 11rem;
        z-index: 2023;
        .logo{
            img{
                width: 100%;
                max-width: 8.3rem !important;
            }
        }
        // Sub Dropdown Menu
        .dropdown-sub-menu{
            border-top: 0.5px solid rgba(0,52,120,.3);
            position: absolute;
            top: 9.8rem;
            left: 0;
            z-index: 2023;
            background-color: $white;
            width: 100%;
            padding-top: 10rem; // height of current menu
            // hide menus and apply transition
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            backdrop-filter: blur(12px);
            opacity: 0;
            pointer-events: none;
            transition: all .3s;
            &.active{
                opacity: 1;
                pointer-events: all;
                z-index: -2000;
            }
            .area-menu{
                border-bottom: 5.5rem solid $brand-light-blue;
                min-height: 50rem;
                .container{
                    padding-top: 5rem;
                    padding-bottom: 5rem;
                    width: 100%;
                    .item{
                        width: 100%;
                        strong{
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            font-size: 1.5rem;
                            line-height: 2.2rem;
                            color: $brand-blue;
                            padding-bottom: 3rem;
                            border-bottom: 0.5px solid #C6C5CE;
                            display: block;
                        }
                        ul{
                            padding-top: 3rem;
                            // using grid to display 
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            grid-gap: 20px 0px;
                            li{
                                a{
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;
                                    font-size: 1.5rem;
                                    line-height: 2.2rem;
                                    color: $brand-blue;
                                }
                            }
                        }
                    }
                }
            }
            // Business Menu Configuration
            &.business{
                padding-top: 6rem;
                .area-menu{
                    .container{
                        padding-top: 0rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        .item{
                            max-width: 38.4rem;
                            ul{
                                width: 100%;
                                grid-template-columns: repeat(2, 1fr);
                                grid-gap: 20px;
                            }
                        }
                    }
                }
            }
            &.resources, &.existing{
                padding-top: 6rem;
                .area-menu{
                    .container{
                        padding-top: 0rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        .item{
                            max-width: 38.4rem;
                            ul{
                                width: 100%;
                                grid-template-columns: repeat(2, 1fr);
                                grid-gap: 20px;
                            }
                        }
                    }
                }
            }
            // Responsive do not display this menu
            @media (max-width: 991px){
                display: none;  
            }
        }
    } 
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        max-width: 104.6rem;
        ul{
            display: flex;
            align-items: center;
            gap: 2.5rem;
            li{
                a{
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    span{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: $grey-600;
                        text-transform: uppercase;
                        transition: all .3s;
                    }
                    img{
                        width: 100%;
                        max-width: 2.2rem;
                        transition: transform .3s;
                    }
                    &.active{
                        span{
                            color: $brand-blue;
                        }
                        img{
                            transform: rotate(180deg); // rotate the arrow 180 degrees
                        }
                    }
                }
                
            }
        }
        // Hambuger configuration from lib 
        .hamburger{
            display: none;
            margin-left: 2rem;
            &.is-active{
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                background-color: $grey-600;
            }
            }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: $grey-600;
            }
        }
    }
    .menu-mobile{
        position: absolute;
        width: 100%;
        top: 10rem;
        height: calc(100vh - 100px);
        background-color: white;
        transform: translateY(100%);
        transition: all .3s ease;
        opacity: 0;
        padding: 4rem 1.5rem;
        padding-top: 0px;
        // Nav Top Configuration
        .nav-top-mobile{
            border-bottom: 0.5px solid rgba(0, 52, 120, 0.3);
            background-color: $white;
            width: 100%;
            ul{
                padding: 2rem 2.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;
                width: 100%;
                li{
                    a{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        img{
                            width: 100%;
                            max-width: 2.2rem;
                        }
                        span{
                            font-family: 'Inter', sans-serif;
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 100%;
                            color: $grey-600;
                            transition: all .3s;
                        }
                        &:hover{
                            span{
                                color: $grey-400;
                            }
                        }
                    }
                }
            }
        }
        // Menu Mobile Nav
        .mobile-menu-list{
            li{
                background: #F0F4F9;
                border-bottom: 0.5px solid rgba(0, 52, 120, 0.25);
                position: relative;
                a{
                    padding: 15px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        color: $brand-blue;
                    }
                    img{
                        width: 100%;
                        max-width: 1.6rem;
                        transition: transform .3s;
                    }
                    &.active{
                        img{
                            transform: rotate(180deg); // rotate the arrow 180 degrees
                        }
                    }
                }
                // Sub Dropdown Menu Area
                .dropdown-sub-menu-mobile{
                    // animatin
                    transition: opacity 1s ease-out;
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    transition: all .3s;
                    transform: translateY(15%);
                    pointer-events: none;
                    width: 100%;
                    ul{
                        width: 100%;
                        li{
                            background-color: $white;
                            a{
                                font-family: 'Poppins', sans-serif;
                                font-weight: 500;
                                font-size: 1.6rem;
                                line-height: 2.2rem;
                                color: $brand-blue;
                            }
                        }
                    }
                    &.active{
                        height: auto;
                        opacity: 1;
                        transform: translateY(0%);
                        pointer-events: all;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1100px){
        nav{
            max-width: 87%;
        }
    }
    @media(max-width: 1050px){
        nav{
            .hamburger{
                display: block;
            }
            max-width: 100%;
            justify-content: end;
            ul{
                display: none;
                pointer-events: none;
            }
            .btn-primary{
                display: none;
                pointer-events: none;
            }
        }
    }
    @media (max-width: 668px){
        .container{
            .logo{
                img{
                    max-width: 20rem !important;
                }
            }
        }
        nav{
            .hamburger{
                margin-left: 0px;
                padding: 0px;
            }
        }
    }
    @media (max-width: 375px){
        .menu-mobile{
            .nav-top-mobile{
                ul{
                    padding: 2rem 1rem;
                    gap: 1.5rem;
                    li{
                        a{
                            gap: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 320px){
        .menu-mobile{
            .nav-top-mobile{
                ul{
                    padding: 2rem 0rem;
                    gap: 1rem;
                    li{
                        a{
                            gap: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
// Configuration for menu mobile open
.menu-opened{
    header{
      .menu-mobile{
        opacity: 1;
        transform: translateY(0%);
      }
    }
}