header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2022;
    background-color: $white;
    border-bottom: 0.5px solid rgba(0, 52, 120, 0.5);
    .nav-top{
        padding: 20px 0px;
        border-bottom: 0.5px solid rgba(0, 52, 120, 0.5);
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 4.5rem;
            li{
                a{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    img{
                        width: 100%;
                        max-width: 2.2rem;
                    }
                    span{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 100%;
                        color: $grey-600;
                        transition: all .3s;
                    }
                    &:hover{
                        span{
                            color: $grey-400;
                        }
                    }
                }
            }
        }
    }
    .nav-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 11rem;
        a{
            img{
                width: 100%;
                max-width: 8.2rem;
            }
        }
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            max-width: 104.6rem;
            ul{
                display: flex;
                align-items: center;
                gap: 2.5rem;
                li{
                    a{
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;
                        span{
                            font-family: 'Poppins', sans-serif;
                            font-weight: 400;
                            font-size: 1.5rem;
                            line-height: 2.2rem;
                            color: $grey-600;
                            text-transform: uppercase;
                        }
                        img{
                            width: 100%;
                            max-width: 2.2rem;
                        }
                    }
                }
            }

            // Hambuger configuration from lib 
            .hamburger{
                display: none;
                margin-left: 2rem;
                &.is-active{
                .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                    background-color: white;
                }
                }
                .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                background-color: white;
                }
            }
        }
    }
}