.s-hero-contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 280px;
    transform-style: preserve-3d; // 3d parallax effect
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .title-hero{
        text-align: center;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 112%;
        letter-spacing: -1px;
        color: #FFFFFF;
        z-index: 1;
    }
    // Responsive
    @media (max-width: 768px){
        height: 220px;
        .title-hero{
            font-size: 36px;
        }
    }
    @media (max-width: 560px){
        height: 150px;
        .title-hero{
            font-size: 28px;
        }
    }
}
.s-content-contact{
    padding-top: 90px;
    padding-bottom: 90px;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .s-content-contact-left{
            width: 100%;
            max-width: 275px;
            border: 1px solid #CED4DA;
            border-radius: 5px;
            padding-left: 32px;
            padding-top: 30px;
            padding-bottom: 30px;
            h2{
                font-family: 'Inter', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 150%;
                color: #003478;
                letter-spacing: 0.1em;
            }
            ul{
                margin-top: 40px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                gap: 15px;
                li{
                    a{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        img{
                            opacity: 0.5;
                            transition: all .2s ease-in-out;
                        }
                        p{
                            font-family: 'Inter', sans-serif;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 150%;
                            transition: all .3s ease-in-out;
                        }
                        &.active, &:hover{
                            p{
                                color: #050110;
                                text-decoration: underline;
                            }
                            img{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .s-content-contact-right{
            width: 100%;
            max-width: 832px;
            .form-contact{
                form{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 40px 92px;
                    button{
                        grid-row-start: 5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
.s-help-contact{
    margin-bottom: 90px;
    .container{
        background-color: #F3F3F3;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 50px;
        flex-direction: column;
        h3{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            color: #4E4B59;
        }
        .s-help-description{
            width: 100%;
            text-align: center;
            blockquote{
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 175%;
                    color: $grey-600;
                    margin-bottom: 0px;
                }
                margin-bottom: 1rem;
                border-left: 2px solid rgba(92, 31, 166, 0.15);
                padding-left: 1rem;
            }
            strong{
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 175%;
                color: $grey-600;
                margin-right: 3px;
                margin-bottom: 1rem;
            }
            a{
                color: #00449e;
                font-family: "Inter",sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                &:hover{
                    text-decoration: underline;
                }
            }
            h1,
            h2,
            h3,
            h4, 
            h5,
            h6{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 26px;
                line-height: 120%;
                color: $grey-600;
                margin-bottom: 1rem;
                margin-top: 2rem;
            }
            h3{
                font-size: 24px;
            }
            h4, h5{
                font-size: 20px;
            }
            h6{
                font-size: 18px;
            }
            p{
                
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                color: $grey-600;
                margin-bottom: 1rem;
                a{
                    color: #00449e;
                    font-family: 'Inter',sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 130%;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            ul{
                margin-bottom: 1.5rem;
                li{
                    margin-bottom: 5px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 175%;
                    color: $grey-600;
                    a{
                        color: #00449e;
                        font-family: 'Inter',sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 130%;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:before{
                        content: "";
                        min-width: 4px;
                        min-height: 4px;
                        display: inline-block;
                        background-color: $grey-600;
                        margin-right: 1.6rem;
                        transition: all .3s;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}
.s-map-contact{
    margin-bottom: 90px;
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .s-map-contact-left{
            width: 100%;
            height: 100%;
            min-height: 370px;
            position: relative;
            max-width: 592px;
            iframe{
                height: 100%;
                width: 100%;
                min-height: 370px;
                max-width: 592px;
            }
        }
        .s-map-contact-right{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            h4{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 30px;
                line-height: 100%;
                text-align: center;
                color: #33303E;
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 30px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                color: #4E4B59;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 40px;
                li{
                    background: #F0F4F9;
                    border-radius: 10px;
                    width: 100%;
                    min-width: 240px;
                    max-width: 240px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    a{
                        display: flex;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;
                        p, span{
                            font-family: 'Inter';
                            font-size: 16px;
                            line-height: 175%;
                            text-align: center;
                            color: #003478;
                            margin-bottom: 0px;
                        }
                        p{
                            font-weight: 700;
                        }
                        span{
                            font-weight: 500;
                        }
                        &:hover{
                            span{
                                text-decoration: underline;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
.s-extra-info-contact{
    padding-bottom: 90px;
    .container{
        h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 100%;
            color: #33303E;
            margin-bottom: 50px;
        }
        ul{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .info-01{
                width: 100%;
                max-width: 379px;
            }
            .info-01, .info-02, .info-03{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 40px;
                .info-01-hours, .info-02-hours, .info-03-hours{
                    h5{
                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 175%;
                        color: #003478;
                    }
                    p{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 175%;
                        color: #33303E;
                    }
                }
                .info-01-content, .info-02-content, .info-03-content{
                    h5{
                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 175%;
                        color: #003478;
                        a{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 175%;
                            text-decoration-line: underline;
                            color: #33303E;
                            &:hover{
                                text-decoration: underline;
                                color: $brand-dark-red;
                            }
                        }
                    }
                    p{
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 175%;
                        color: #33303E;
                        a{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 175%;
                            text-decoration-line: underline;
                            color: #33303E;
                            &:hover{
                                text-decoration: underline;
                                color: $brand-dark-red;
                            }
                        }
                    }
                }
            }
        }
        .message-info{
            margin-top: 50px;
            margin-bottom: 25px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: #33303E;
        }
        span{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 175%;
            color: #7A7786;
        }
    }
}