.s-hero-supports{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 280px;
    transform-style: preserve-3d; // 3d parallax effect
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .title-hero{
        text-align: center;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 0% !important;
        color: #FFFFFF;
        z-index: 1;
    }
    // Responsive
    @media (max-width: 768px){
        height: 220px;
        .title-hero{
            font-size: 36px;
        }
    }
    @media (max-width: 560px){
        height: 150px;
        .title-hero{
            font-size: 28px;
        }
    }
}
.s-breadcrumbs-supports{
    background-color: $brand-light-blue;
    padding: 30px 0px;
    .container{
        overflow-x: visible;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p{
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 15px;
                line-height: 105%;
                color: #003478;
                transition: all .3s;
            }
            &:hover{
                p{
                    color: #16243D;
                }
            }
        }
    }
    // Responsive
    @media (max-width: 768px){
        padding: 15px 0px;
        .container{
            a{
                flex-direction: row;
                align-items: center;
                gap: 5px;
                p{
                    text-align: center;
                }
                img{
                    max-width: 24px;
                }
            }
        }
    }
}
.s-forms-support{
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 112px;
        padding-bottom: 112px;
        border-top: 2px solid #f0f4f9;
        .form-support{
            padding-top: 6rem;
            // FORM
            .wpcf7-form{
                display: grid !important;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px 60px;
                width: 100%;
                max-width: 800px !important;
                div{
                    width: 100%;
                    max-width: 370px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 10px;
                    br{
                        display:none;
                        pointer-events: none;
                    }
                    label{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        letter-spacing: -0.01em;
                        color: #343a40;
                        display: inline-block;
                        padding-bottom: 0.5rem;
                    }
                    textarea{
                        width: 37rem;
                        border: 1px solid #CED4DA;
                        border-radius: 0.8rem;
                        padding: 2rem;
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        color: rgba(52, 58, 64, 0.8);
                        resize: none;
                    }
                    input{
                        width: 37rem;
                        border: 1px solid #CED4DA;
                        border-radius: 0.8rem;
                        padding: 1.3rem 2rem;
                    }
                    .wpcf7-submit{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0px 2.8rem;
                        line-height: 4.8rem;
                        border-radius: 0.4rem;
                        color: #fff;
                        text-align: center;
                        font-size: 14px;
                        border: 1px solid transparent;
                        align-items: center;
                        gap: 1rem;
                        transition: color .3s, background-color .3s;
                        font-weight: 700;
                        text-transform: uppercase;
                        background-color: $brand-dark-blue;
                        border-color: $brand-dark-blue;
                        cursor: pointer;
                        &:hover{
                            background-color: $brand-dark-red;
                            border-color: $brand-dark-red;
                        }
                    }
                }
                #btn-submit{
                    grid-row-start: 5;
                }
                .wpcf7-form-control-wrap{
                    .wpcf7-not-valid-tip{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: -0.01em;
                        display: block;
                        margin-top: 10px;
                    }
                }
                // Responsive 
                @media (max-width: 480px){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                }
                .wpcf7-response-output{
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    height: 100%;
                    max-height: 100px;
                    margin-left: 0px;
                    border: 0px;
                }
                &.sent{
                    .wpcf7-response-output{
                        color: green;
                        padding: 10px 15px;
                        background-color: #99f899;
                }
                }
                &.invalid{
                    .wpcf7-response-output{
                        padding-top: 10px;
                        color: white;
                        background-color: #dc3232;
                        border: none;
                    }
                }
                .wpcf7-spinner{
                    display: none;
                    pointer-events: none;
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1200px){
        .container{
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }
    }
    @media(max-width: 800px){
        .container{
            .form-support{
                .wpcf7-form{
                    grid-template-columns: 1fr;
                    grid-gap: 20px;
                    div{
                        max-width: 350px;
                        gap: 5px;
                        textarea, input{
                            width: 35rem;
                        }
                    }
                    .wpcf7-response-output{
                        margin-right: 0px !important;
                        margin-top: 0px !important;
                    }
                    #btn-submit{
                        grid-row-start: 8;
                    }
                }
            }
        }
    }
    @media (max-width: 420px){
        .container{
            padding-top: 40px !important;
            padding-bottom: 40px !important;
            .form-support{
                padding-top: 4rem;
                .wpcf7-form{
                    grid-template-columns: 1fr;
                    grid-gap: 20px;
                    div{
                        min-width: 32rem;
                        max-width: 32rem;
                        gap: 5px;
                        textarea, input{
                            width: 32rem;
                        }
                    }
                    .wpcf7-response-output{
                        margin-right: 0px !important;
                        margin-top: 0px !important;
                    }
                    #btn-submit{
                        grid-row-start: 8;
                    }
                }
            }
        }
    }
}
.s-supports-content{
    padding: 112px 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: visible;
        gap: 32px;
        .card-left-support{
            width: 100%;
            max-width: 800px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image-card-support{
                width: 100%;
                height: 100%;
                min-height: 360px;
                max-width: 400px;
                max-height: 36rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 400px;
                    min-height: 360px;
                    max-height: 36rem;
                    transition: all .5s;
                    object-fit: cover; // cover size img
                    -o-object-fit: cover;
                    &:hover, &:focus{
                        transform: scale(1.2);
                    }
                }
            }
            .text-card-support{
                background-color: #FAF0F2;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 40px 0px;
                height: 360px;
                h2,p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    color: #4E4B59;
                    max-width: 320px;
                }
                h2{
                    font-size: 26px;
                    line-height: 31px;
                    margin-bottom: 40px;
                }
                p{
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                a{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 105%;
                        color: #003478;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                    }
                    span{
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 105%;
                        color: #003478;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                    }
                    &:hover{
                        p{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .card-right-support{
            background-color: #F3F3F3;
            width: 100%;
            max-width: 384px;
            height: 364px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                margin-bottom: 30px;
            }
            h3, p{
                width: 100%;
                max-width: 285px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
            }
            h3{
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #4E4B59;
                margin-bottom: 30px;
            }
            p{
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #4E4B59;
                margin-bottom: 41px;
            }

        }
    }   
    // Responsive
    @media (max-width:1200px){
        .container{
            .image-card-support{
                max-width: 300px;
            }
        }
    }
    @media (max-width: 1150px){
        padding: 6rem 0px;
        .container{
            flex-direction: column;
        }
    }
    @media (max-width: 768px){
        .container{
            .card-left-support{
                .image-card-support{
                    max-height: 320px;
                    min-height: 320px;
                    img{
                        max-height: 320px;
                        min-height: 320px;
                    }
                }
                .text-card-support{
                    padding: 30px 0px;
                    h2{
                        margin-bottom: 2rem;
                        font-size: 22px;
                    }
                    p{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    @media (max-width: 720px){
        .container{
            .card-left-support{
                flex-direction: column;
                .text-card-support{
                    max-width: 400px;
                }
            }
        }
    }
    @media (max-width: 430px){
        padding: 3rem 0px;
        .container{
            gap: 20px;
            .card-left-support{
                .image-card-support{
                    min-height: 25rem;
                    max-height: 25rem;
                    img{
                        min-height: 25rem;
                        max-height: 25rem;
                    }
                }
                .text-card-support{
                    height: 300px;
                    padding: 20px 0px;
                    p{
                        margin-bottom: 10px;
                    }
                }
            }
            .card-right-support{
                height: 320px;
                h3{
                    margin-bottom: 20px;
                }
                p{
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.s-content-supports-faq{
    background-color: $brand-light-blue;
    padding: 112px 0px;
    .container{
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
        padding-top: 112px;
        padding-bottom: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 3px;
        .title-content-supports-faq{
            margin-bottom: 6rem;
            h4{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 32px;
                line-height: 112%;
                letter-spacing: -1px;
                color: #33303E;
                text-align: center;
            }
        }
        .content-highlight-supports-faq{
            .accordion-plus-support{
                .accordion-plus-item-support{
                    h3{
                        border-bottom: 1px solid #C6C5CE;
                    }
                }
            }
        }
        .content-highlight-supports-faq, .all-supports-faq{
            width: 100%;
            max-width: 83.3rem;
            .accordion-plus-support{
                border-bottom: 1px solid #C6C5CE;
                .accordion-plus-item-support{
                    h3{
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 112%;
                        color: #003478;
                        padding: 30px 0px;
                        img{
                            margin-right: 15px;
                            transition: all .3s;
                        }
                    }
                    .pt-3{
                        padding-top: 20px !important;
                    }
                }
                .accordion-plus-content-support{
                    padding-bottom: 30px;
                    transition: all ease-in-out .3s;
                    width: 100%;
                    blockquote{
                        p{
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 175%;
                            color: $grey-600;
                            margin-bottom: 0px;
                        }
                        margin-bottom: 3rem;
                        border-left: 0.2rem solid rgba(92, 31, 166, 0.15);
                        padding-left: 2.4rem;
                    }
                    strong{
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 175%;
                        color: $grey-600;
                        margin-right: 5px;
                        margin-bottom: 1.6rem;
                    }
                    a{
                        color: #00449e;
                        font-family: "Inter",sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 130%;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    h1,
                    h2,
                    h3,
                    h4, 
                    h5,
                    h6{
                        font-family: 'Inter', sans-serif;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 125%;
                        color: $grey-600;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                    }
                    h2{
                        font-size: 22px;
                    }
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 175%;
                        color: $grey-600;
                        margin-bottom: 1.6rem;
                        a{
                            color: #00449e;
                            font-family: "Inter",sans-serif;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 130%;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    ul{
                        margin-bottom: 2rem;
                        li{
                            margin-bottom: 0.7rem;
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 175%;
                            color: $grey-600;
                            a{
                                color: #00449e;
                                font-family: "Inter",sans-serif;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 130%;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            &:before{
                                content: "";
                                min-width: 4px;
                                min-height: 4px;
                                display: inline-block;
                                background-color: $grey-600;
                                margin-right: 1.6rem;
                                transition: all .3s;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }
        .all-supports-faq{
            .accordion-plus-support{
                .accordion-plus-item-support{
                    // JS open FAQs
                    &.active{
                        height: auto;
                        h3{
                            img{
                                transform: rotate(180deg);
                            }
                        }
                        .accordion-plus-content-support{
                            display: block;
                            pointer-events: all;
                            animation: fadeIn .3s forwards;
                        }
                    }
                }
                .accordion-plus-content-support{
                    display: none;
                    pointer-events: none;
                    transition: all ease-in-out .3s;
                }
            }
        }
    }
    // Responsive
    @media(max-width: 1200px){
        padding: 6rem 3rem;
        .container{
            .title-content-supports-faq{
                padding-top: 6rem;
            }
            .all-supports-faq{
                padding-bottom: 6rem;
            }
        }
    }
    @media (max-width: 768px){
        padding: 0rem;
        background: #FFFFFF;
        .container{
            box-shadow: none;
            .title-content-supports-faq{
                padding-top: 4rem;
                margin-bottom: 3rem;
                h4{
                    font-size: 28px;
                }
            }
            .content-highlight-supports-faq, .all-supports-faq{
                .accordion-plus-support{
                    .accordion-plus-item-support{
                        h3{
                            padding: 20px 0px;
                        }
                    }
                }
            }
            .all-supports-faq{
                padding-bottom: 0rem !important;
                .accordion-plus-support{
                    .accordion-plus-item-support{
                        h3{
                            font-size: 20px !important;
                            gap: 10px !important;
                            line-height: 112%;
                            img{
                                max-width: 20px !important;
                                margin-right: 0px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 480px){
        .container{
            .title-content-supports-faq{
                padding-top: 0rem !important;
                h4{
                    font-size: 26px;
                }
            }
            .content-highlight-supports-faq, .all-supports-faq{
                .accordion-plus-support{
                    .accordion-plus-content-support{
                        padding-bottom: 20px;
                        .accordion-plus-item-support{
                            h3{
                                font-size: 20px !important;
                                gap: 10px !important;
                                line-height: 112%;
                                img{
                                    max-width: 20px !important;
                                    margin-right: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.s-policy-support{
    background-color: $brand-light-blue;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .policy{
            width: 100%;
            max-width: 70px;
            margin-bottom: 6rem;
        }
        h2{
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 3.2rem;
            line-height: 120%;
            text-align: center;
            color: #050110;
            margin-bottom: 2rem;
        }
        ul{
            width: 100%;
            max-width: 59rem;
            display: flex;
            align-items: center;
            gap: 20px;
            flex-direction: column;
            text-align: center;
        }
        .btn{
            margin-top: 6rem;
            font-weight: 500;
        }
    }
    // Responsive
    @media (max-width: 480px){
        padding-top: 4rem;
        padding-bottom: 4rem;
        .container{
            .policy{
                max-width: 50px;
                margin-bottom: 3rem;
            }
            .btn{
                margin-top: 3rem;
            }
            h2{
                font-size: 2.8rem;
            }
        }
    }
    
}