.s-faq-content{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .table-of-content-faq, .main-content-faq{
            padding-top: 4rem;
        }
        .table-of-content-faq{
            width: 100%;
            max-width: 28rem;
            border-right: 2px solid #F1F0F5;
            min-height: 100vh;
            h3{
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 24px;
                line-height: 150%;
                letter-spacing: -0.5px;
                color: $grey-500;
                margin-bottom: 3rem;
            }
            ul{
                display: flex;
                flex-direction: column;
                li{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 10px;
                    transition: all 0.3s;
                    display: flex;
                    align-items: flex-start;
                    
                    &:before{
                        content: "";
                        min-width: 4px;
                        min-height: 4px;
                        display: inline-block;
                        background-color: $brand-blue;
                        margin-top: 1rem;
                        margin-right: 1.2rem;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.3s;
                        p{
                            transition: all 0.3s;
                            font-family: 'Inter', sans-serif;
                            font-weight: 600;
                            font-size: 1.6rem;
                            line-height: 150%;
                            color: $brand-blue;
                            width: 100%;
                            max-width: 160px;
                        }
                        img{
                            // hide the state default
                            pointer-events: none;
                            opacity: 0;
                            transition: all .3s ease;
                            transform: translateX(-15px); // put to right side
                            margin-left: 40px;
                        }
                    }
                    &:hover{
                        a{
                            p{
                                text-decoration: underline;
                            }
                            img{
                                // hide the state default
                                pointer-events: all;
                                opacity: 1;
                                transform: translateX(0px); // put to right side
                            }
                        }
                        
                    }
                }
            }
        }
        .main-content-faq{
            width: 100%;
            max-width: 87.9rem;
            .title-main-content-faq{
                width: 100%;
                h1{
                    width: 100%;
                    max-width: 45rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 112%;
                    letter-spacing: -1px;
                    color: $grey-500;     
                    margin-bottom: 3rem;
                }
                width: 100%;
                blockquote{
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 175%;
                        color: $grey-500;
                        margin-bottom: 0px;
                    }
                    margin-bottom: 4rem;
                    border-left: 2px solid rgba(0, 69, 158, 0.2);
                    padding-left: 2.4rem;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 175%;
                    color: $grey-500;
                    margin-bottom: 1.6rem;
                }
                ul{
                    margin-bottom: 4rem;
                    li{
                        margin-bottom: 1.2rem;
                        display: flex;
                        align-items: flex-start;
                        font-size: 1.8rem;
                        line-height: 175%;
                        color: $grey-500;
                        &:before{
                            content: "";
                            min-width: 4px;
                            min-height: 4px;
                            display: inline-block;
                            background-color: #9995A6;
                            margin-top: 1rem;
                            margin-right: 1.6rem;
                            transition: all .3s;
                        }
                    }
                }
            }
            .all-faqs-section{
                .faq-box{
                    margin-top: 6rem;
                    h2{
                        padding-bottom: 2rem;
                        width: 100%;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 112%;
                        letter-spacing: -1px;
                        color: $grey-500;       
                        border-bottom: 1px solid #C6C5CE;
                    }
                    .accordion-plus{
                        width: 100%;
                        border-bottom: 1px solid #C6C5CE;
                        margin-top: 2.5rem;
                        .accordion-plus-item{
                            h3{
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                gap: 2.8rem;
                                padding-bottom: 2.5rem;
                                border-bottom: 1px solid transparent;
                                span{
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 112%;
                                    letter-spacing: -1px;
                                    color: $brand-blue;
                                }
                                img{
                                    transition: all .3s;
                                }
                            }
                            .accordion-plus-content{
                                padding-left: 5.5rem;
                                margin-bottom: 2.5rem;
                                width: 100%;
                                display: none;
                                pointer-events: none;
                                transition: all .3s;
                                blockquote{
                                    p{
                                        font-family: 'Inter', sans-serif;
                                        font-weight: 400;
                                        font-size: 1.8rem;
                                        line-height: 175%;
                                        color: $grey-500;
                                        margin-bottom: 0px;
                                    }
                                    margin-bottom: 4rem;
                                    border-left: 2px solid rgba(0, 69, 158, 0.2);
                                    padding-left: 2.4rem;
                                }
                                h4, 
                                h5,
                                h6{
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 112%;
                                    letter-spacing: -1px;
                                    color: $grey-600;
                                    margin-bottom: 2rem;
                                    margin-top: 2rem;
                                }
                                p{
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                    font-size: 1.8rem;
                                    line-height: 175%;
                                    color: $grey-500;
                                    margin-bottom: 1.6rem;
                                }
                                ul{
                                    margin-bottom: 4rem;
                                    li{
                                        margin-bottom: 1.2rem;
                                        display: flex;
                                        align-items: flex-start;
                                        font-size: 1.8rem;
                                        line-height: 175%;
                                        color: $grey-500;
                                        &:before{
                                            content: "";
                                            min-width: 4px;
                                            min-height: 4px;
                                            display: inline-block;
                                            background-color: #9995A6;
                                            margin-top: 1rem;
                                            margin-right: 1.6rem;
                                            transition: all .3s;
                                        }
                                    }
                                }
                            }
                            // JS open FAQs
                            &.active{
                                height: auto;
                                h3{
                                    img{
                                        transform: rotate(90deg);
                                    }
                                }
                                .accordion-plus-content{
                                    display: block;
                                    pointer-events: all;
                                    animation: fadeIn .3s forwards;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Responsive

}
.s-faq-link{
    margin-top: 6rem;
    margin-bottom: 6rem;
    .container{
        border-top: 1px solid #C6C5CE;
        border-bottom: 1px solid #C6C5CE;
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        width: 100%;
        .f-top, .f-bottom{
            width: 100%;
            max-width: 107.6rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 32px;
            .f-item{
                width: 100%;
                max-width: 31.2rem;
                h4{
                    margin-bottom: 30px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 120%;
                    color: #050110;
                    text-align: center;
                }
                ul{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    flex-direction: column;
                    li{
                        a{
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 175%;
                            text-decoration-line: underline;
                            color: $grey-600;
                        }
                    }
                }
            }
        }
        
        
    }
}
