.s-hero-renewals{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 280px;
    transform-style: preserve-3d; // 3d parallax effect
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .title-hero{
        text-align: center;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 0% !important;
        color: #FFFFFF;
        z-index: 1;
    }
    // Responsive
    @media (max-width: 768px){
        height: 220px;
        .title-hero{
            font-size: 36px;
        }
    }
    @media (max-width: 560px){
        height: 150px;
        .title-hero{
            font-size: 28px;
        }
    }
}
.s-breadcrumbs-renewals{
    background-color: $brand-light-blue;
    padding: 30px 0px;
    .container{
        overflow-x: visible;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p{
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 15px;
                line-height: 105%;
                color: #003478;
                transition: all .3s;
            }
            &:hover{
                p{
                    color: #16243D;
                }
            }
        }
    }
    // Responsive
    @media (max-width: 768px){
        padding: 15px 0px;
        .container{
            a{
                flex-direction: row;
                align-items: center;
                gap: 5px;
                p{
                    text-align: left;
                }
                img{
                    max-width: 24px;
                }
            }
        }
    }
}
.s-renewals-content{
    padding: 112px 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: visible;
        gap: 32px;
        .card-left-renewal{
            width: 100%;
            max-width: 800px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image-card-renewal{
                width: 100%;
                height: 100%;
                min-height: 360px;
                max-width: 400px;
                max-height: 36rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 400px;
                    min-height: 360px;
                    max-height: 36rem;
                    transition: all .5s;
                    object-fit: cover; // cover size img
                    -o-object-fit: cover;
                    &:hover, &:focus{
                        transform: scale(1.2);
                    }
                }
            }
            .text-card-renewal{
                background-color: #FAF0F2;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 40px 0px;
                height: 360px;
                h2,p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    color: #4E4B59;
                    max-width: 320px;
                }
                h2{
                    font-size: 26px;
                    line-height: 31px;
                    margin-bottom: 40px;
                }
                p{
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                a{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 105%;
                        color: #003478;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                    }
                    &:hover{
                        p{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .card-right-renewal{
            background-color: #F3F3F3;
            width: 100%;
            max-width: 384px;
            height: 364px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                margin-bottom: 30px;
            }
            h3, p{
                width: 100%;
                max-width: 285px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
            }
            h3{
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #4E4B59;
                margin-bottom: 30px;
            }
            p{
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #4E4B59;
                margin-bottom: 41px;
            }

        }
    }   
    // Responsive
    @media (max-width:1200px){
        .container{
            .image-card-renewal{
                max-width: 300px;
            }
        }
    }
    @media (max-width: 1150px){
        padding: 6rem 0px;
        .container{
            flex-direction: column;
        }
    }
    @media (max-width: 768px){
        .container{
            .card-left-renewal{
                .image-card-renewal{
                    max-height: 320px;
                    min-height: 320px;
                    img{
                        max-height: 320px;
                        min-height: 320px;
                    }
                }
                .text-card-renewal{
                    padding: 30px 0px;
                    h2{
                        margin-bottom: 2rem;
                        font-size: 24px;
                    }
                    p{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    @media (max-width: 720px){
        .container{
            .card-left-renewal{
                flex-direction: column;
                .text-card-renewal{
                    max-width: 400px;
                }
            }
        }
    }
    @media (max-width: 430px){
        padding: 3rem 0px;
        .container{
            gap: 20px;
            .card-left-renewal{
                .image-card-renewal{
                    min-height: 25rem;
                    max-height: 25rem;
                    img{
                        min-height: 25rem;
                        max-height: 25rem;
                    }
                }
                .text-card-renewal{
                    height: 300px;
                    padding: 10px;
                    h2{
                        font-size: 20px;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                }
            }
            .card-right-renewal{
                height: 340px;
                padding: 10px;
                h3{
                    margin-bottom: 20px;
                }
                p{
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.s-content-renewals-faq{
    background-color: $brand-light-blue;
    padding: 112px 0px;
    .container{
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
        padding-top: 112px;
        padding-bottom: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 3px;
        .title-content-renewals-faq{
            margin-bottom: 6rem;
            h4{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 32px;
                line-height: 112%;
                letter-spacing: -1px;
                color: #33303E;
                text-align: center;
            }
        }
        .content-highlight-renewals-faq{
            .accordion-plus-renewal{
                .accordion-plus-item-renewal{
                    h3{
                        border-bottom: 1px solid #C6C5CE;
                    }
                }
            }
        }
        .content-highlight-renewals-faq, .all-renewals-faq{
            width: 100%;
            max-width: 83.3rem;
            .accordion-plus-renewal{
                border-bottom: 1px solid #C6C5CE;
                .accordion-plus-item-renewal{
                    h3{
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 112%;
                        color: #003478;
                        padding: 30px 0px;
                        img{
                            margin-right: 15px;
                            transition: all .3s;
                        }
                    }
                    .pt-3{
                        padding-top: 20px !important;
                    }
                }
                .accordion-plus-content-renewal{
                    padding-bottom: 30px;
                    transition: all ease-in-out .3s;
                    width: 100%;
                    blockquote{
                        p{
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 175%;
                            color: $grey-400;
                            margin-bottom: 0px;
                        }
                        margin-bottom: 3rem;
                        border-left: 0.2rem solid rgba(92, 31, 166, 0.15);
                        padding-left: 2.4rem;
                    }
                    strong{
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 175%;
                        color: $grey-400;
                        margin-right: 5px;
                        margin-bottom: 1.6rem;
                    }
                    a{
                        color: #00449e;
                        font-family: "Inter",sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 130%;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    h1,
                    h2,
                    h3,
                    h4, 
                    h5,
                    h6{
                        font-family: 'Inter', sans-serif;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 175%;
                        color: $grey-400;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                    }
                    h2{
                        font-size: 22px;
                    }
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 175%;
                        color: $grey-400;
                        margin-bottom: 1.6rem;
                        a{
                            color: #00449e;
                            font-family: "Inter",sans-serif;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 130%;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    ul{
                        margin-bottom: 2rem;
                        li{
                            margin-bottom: 0.7rem;
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 175%;
                            color: $grey-400;
                            a{
                                color: #00449e;
                                font-family: "Inter",sans-serif;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 130%;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            &:before{
                                content: "";
                                min-width: 4px;
                                min-height: 4px;
                                display: inline-block;
                                background-color: $grey-400;
                                margin-right: 1.6rem;
                                transition: all .3s;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }
        .all-renewals-faq{
            .accordion-plus-renewal{
                .accordion-plus-item-renewal{
                    // JS open FAQs
                    &.active{
                        height: auto;
                        h3{
                            img{
                                transform: rotate(180deg);
                            }
                        }
                        .accordion-plus-content-renewal{
                            display: block;
                            pointer-events: all;
                            animation: fadeIn .3s forwards;
                        }
                    }
                }
                .accordion-plus-content-renewal{
                    display: none;
                    pointer-events: none;
                    transition: all ease-in-out .3s;
                }
            }
        }
    }
    // Responsive
    @media(max-width: 1200px){
        padding: 6rem 3rem;
        .container{
            .title-content-renewals-faq{
                padding-top: 6rem;
            }
            .all-renewals-faq{
                padding-bottom: 6rem;
            }
        }
    }
    @media (max-width: 768px){
        padding: 0rem;
        background-color: white;
        .container{
            box-shadow: none;
            .title-content-renewals-faq{
                padding-top: 0rem;
                margin-bottom: 3rem;
                h4{
                    font-size: 26px;
                }
            }
            .content-highlight-renewals-faq, .all-renewals-faq{
                .accordion-plus-renewal{
                    .accordion-plus-item-renewal{
                        h3{
                            padding: 15px 0px;
                        }
                    }
                }
            }
            .all-renewals-faq{
                padding-bottom: 0rem !important;
                .accordion-plus-support{
                    .accordion-plus-item-support{
                        h3{
                            font-size: 20px !important;
                            gap: 20px !important;
                            line-height: 120%;
                            img{
                                max-width: 20px !important;
                                margin-right: 0px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 480px){
        .container{
            .title-content-renewals-faq{
                padding-top: 0rem;
            }
            .content-highlight-renewals-faq, .all-renewals-faq{
                .accordion-plus-renewal{
                    .accordion-plus-item-renewal{
                        h3{
                            font-size: 18px !important;
                            gap: 10px !important;
                            line-height: 120%;
                            img{
                                max-width: 16px !important;
                                margin-right: 0px !important;
                            }
                        }
                    }
                    .accordion-plus-content-renewal{
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}