.s-title{
    padding-top: 6rem;
    padding-bottom: 6rem;
    .container{
        overflow-x: visible !important;
        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 4rem;
            line-height: 112%;
            letter-spacing: -1px;
            color: $grey-600;
        }
    }
    // Responsive
    @media (max-width: 970px){
        padding-top: 4rem;
        padding-bottom: 4rem;
        .container{
            text-align: center;
        }
    }
}
.s-page-text{
    .container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        overflow-x: visible;
        // Page Content
        .left-page-text{
            width: 100%;
            max-width: 80rem;
            margin-bottom: 8rem;
            .content-post{
                blockquote{
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 175%;
                        color: $grey-500;
                        margin-bottom: 0px;
                    }
                    margin-bottom: 4rem;
                    border-left: 2px solid rgba(0, 69, 158, 0.2);
                    padding-left: 2.4rem;
                }
                h2,
                h3,
                h4, 
                h5,
                h6{
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 3.2rem;
                    line-height: 120%;
                    color: $grey-500;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 175%;
                    color: $grey-500;
                    margin-bottom: 1.6rem;
                }
                ul{
                    margin-bottom: 4rem;
                    text-align: center;
                    li{
                        margin-bottom: 1.2rem;
                        display: flex;
                        align-items: flex-start;
                        font-size: 1.8rem;
                        line-height: 175%;
                        color: $grey-500;
                        &:before{
                            content: "";
                            min-width: 4px;
                            min-height: 4px;
                            display: inline-block;
                            background-color: #9995A6;
                            margin-top: 1rem;
                            margin-right: 1.6rem;
                            transition: all .3s;
                        }
                    }
                }
            }
        }
        // Table Content
        .right-page-text{
            width: 100%;
            max-width: 31.2rem;
            position: sticky;
            top: 100px;
            margin-bottom: 4rem;
            max-width: 31.3rem;
            display: flex;
            gap: 4rem;
            flex-direction: column;
            .table-of-content{
                padding: 3rem;
                border: 1px solid #C6C5CE;
                border-radius: 0.4rem;
                position: relative;
                transition: all 0.3s;
                .table-of-content-title{
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: $brand-blue;
                    margin-bottom: 4rem;
                    text-transform: uppercase;
                }
                ul{
                    width: 100%;
                    margin-bottom: 4rem;
                    padding-bottom: 4rem;
                    position: relative;
                    &:after{
                        content: "";
                        height: 2px;
                        width: 100%;
                        background: url("../assets/icons/line-topics.svg") no-repeat center center;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                    li{
                        margin-bottom: 1.6rem;
                        display: flex;
                        align-items: flex-start;
                        transition: all .3s;
                        a{
                            width: 100%;
                            font-family: 'Inter', sans-serif;
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 150%;
                            color: $grey-400;
                            span{
                                font-family: 'Inter', sans-serif;
                                font-weight: 500;
                                font-size: 1.6rem;
                                line-height: 150%;
                                color: $grey-400;
                            }
                            &.active{
                                color: $grey-600;
                                font-weight: 600;
                            }
                        }
                        &:before{
                            content: "";
                            min-width: 4px;
                            min-height: 4px;
                            display: inline-block;
                            background-color: #9995A6;
                            margin-top: 1rem;
                            margin-right: 1.2rem;
                        }
                        &:hover{
                            a{
                                color: $grey-600;
                                span{
                                    color: $grey-600;
                                }
                            }
                        }
                    }
                }
                button{
                    display: flex;
                    gap: 1.5rem;
                }
                &:hover{
                    border: 1px solid $grey-500;
                }
            }
            .card-download{
                margin-top: 1rem;
                background: #FFFFFF;
                box-shadow: 0px 4px 40px rgba(204, 204, 204, 0.25);
                padding-top: 3.8rem;
                padding-left: 3rem;
                padding-bottom: 3.8rem;
                position: relative;
                .download-text{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 3.8rem;
                }
                .icon-download{
                    position: absolute;
                    right: 30px;
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1100px){
        .container{
            .left-page-text{
                max-width: 70rem;
            }
        }
    }
    @media (max-width: 970px){
        .container{
            .left-page-text{
                max-width: 100%;
                margin-bottom: 6rem;
                .content-post{
                    text-align: center;
                }
            }
            .right-page-text{
                display: none;
            }
        }
    }
    @media (max-width: 600px){
        .container{
            .left-page-text{
                .content-post{
                    blockquote{
                        padding-left: 1.5rem;
                        margin-bottom: 2rem;
                        p{
                            font-size: 16px;
                        }
                    }
                    h1, h2, h3, h4, h5, h6{
                        font-size: 2.4rem;
                        margin-bottom: 1.5rem;
                    }
                    p{
                        font-size: 16px;
                        margin-bottom: 1.5rem;
                    }
                    ul{
                        margin-bottom: 2rem;
                        li{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
