.s-post-info{
    padding: 3rem 0px;
    .container{
        ul{
            display: flex;
            align-items: center;
            gap: 5.2rem;
            li{
                position: relative;
                &:not(:last-child){
                    &:after{
                        content: "";
                        background: #9995A6;
                        opacity: 0.3;
                        width: 4px;
                        height: 4px;
                        position: absolute;
                        right: -30px;
                        top: 8px;
                    }
                }
                display: flex;
                align-items: center;
                gap: 0.8rem;
                span{
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 150%;
                    color: $grey-500;
                }
            }
        }
    }
    // Responsive
    @media (max-width: 480px){
        padding: 2rem 0px;
        .container{
            ul{
                flex-direction: column;
                gap: 1rem;
                li{
                    &:not(:last-child){
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.info-post-general{
    .container{
        overflow-x: visible;
        h1{
            width: 100%;
            max-width: 104rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 112%;
            letter-spacing: -1px;
            color: $grey-600;
            text-transform: uppercase;
            margin-bottom: 4rem;
        }
        .info-post-bottom{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .left-content{
                width: 100%;
                max-width: 83.2rem;
                .image{
                    display: flex;
                    align-items: flex-start;
                    gap: 3.3rem;
                    margin-bottom: 4rem;
                    img{
                        width: 100%;
                        height: 100%;
                        max-width: 49rem;
                        border-radius: 1rem;
                        object-fit: cover;
                    }
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 175%;
                        color: $grey-500;
                    }
                }
                .content-post{
                    margin-bottom: 15rem;
                    width: 100%;
                    blockquote{
                        p{
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 175%;
                            color: $grey-400;
                            margin-bottom: 0px;
                        }
                        margin-bottom: 4rem;
                        border-left: 2px solid rgba(0, 69, 158, 0.2);
                        padding-left: 2.4rem;
                    }
                    h2,
                    h3,
                    h4, 
                    h5,
                    h6{
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 120%;
                        color: $grey-500;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                    }
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 175%;
                        color: $grey-500;
                        margin-bottom: 1.6rem;
                    }
                    ul{
                        margin-bottom: 4rem;
                        li{
                            margin-bottom: 1.2rem;
                            display: flex;
                            align-items: flex-start;
                            font-size: 18px;
                            line-height: 175%;
                            color: $grey-400;
                            &:before{
                                content: "";
                                width: 4px;
                                height: 4px;
                                display: inline-block;
                                background-color: #9995A6;
                                margin-top: 1rem;
                                margin-right: 1.6rem;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
            .right-content{
                width: 100%;
                position: sticky;
                top: 180px;
                margin-bottom: 4rem;
                max-width: 31.3rem;
                display: flex;
                gap: 4rem;
                flex-direction: column;
                .search{
                    width: 100%;
                    max-width: 100%;
                }
                .t-content{
                    padding: 3rem;
                    border: 1px solid #C6C5CE;
                    border-radius: 0.4rem;
                    position: relative;
                    transition: all 0.3s;
                    
                    .title-contents{
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 150%;
                        color: $brand-blue;
                        margin-bottom: 4rem;
                        text-transform: uppercase;
                    }
                    ul{
                        width: 100%;
                        margin-bottom: 4rem;
                        padding-bottom: 4rem;
                        position: relative;
                        &:after{
                            content: "";
                            height: 2px;
                            width: 100%;
                            background: url("../assets/icons/line-topics.svg") no-repeat center center;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                        li{
                            margin-bottom: 1.6rem;
                            display: flex;
                            align-items: flex-start;
                            transition: all .3s;
                            a{
                                span{
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: $grey-400;
                                }
                            }
                            &:before{
                                content: "";
                                width: 8px;
                                height: 4px;
                                display: inline-block;
                                background-color: #9995A6;
                                margin-top: 1rem;
                                margin-right: 1.6rem;
                            }
                            &:hover{
                                a{
                                    span{
                                        color: $grey-600;
                                    }
                                }
                            }
                        }
                    }
                    button{
                        display: flex;
                        gap: 1.5rem;
                    }
                    &:hover{
                        border: 1px solid $grey-500;
                    }
                }
                .related-articles{
                    padding: 3rem;
                    border: 1px solid #C6C5CE;
                    border-radius: 0.4rem;
                    transition: all 0.3s;
                    .title-articles{
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 150%;
                        color: $brand-blue;
                        margin-bottom: 4rem;
                        text-transform: uppercase;
                    }
                    ul{
                        width: 100%;
                        li{
                            display: flex;
                            align-items: flex-start;
                            margin-bottom: 1.6rem;
                            transition: all .3s;
                            a{
                                span{
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: $grey-400;
                                }
                            }
                            &:before{
                                content: "";
                                width: 8px;
                                height: 4px;
                                display: inline-block;
                                background-color: #9995A6;
                                margin-top: 1rem;
                                margin-right: 1.6rem;
                            }
                            &:hover{
                                a{
                                    span{
                                        color: $grey-600;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        border: 1px solid $grey-500;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1100px){
        .container{
            h1{
                max-width: 80rem;
            }
            .info-post-bottom{
                .left-content{
                    max-width: 60rem;
                    .image{
                        flex-direction: column;
                    }
                }
            }
        }
    }
    @media (max-width: 920px){
        .container{
            h1{
                max-width: 100%;
                margin-bottom: 3rem;
            }
            .info-post-bottom{
                width: 100%;
                justify-content: flex-start;
                .left-content{
                    margin-bottom: 3rem;
                    max-width: 100%;
                    .image{
                        gap: 3rem;
                        margin-bottom: 3rem;
                        img{
                            max-width: 60rem;
                            margin: 0 auto;
                        }
                    }
                    .content-post{
                        margin-bottom: 6rem;
                    }
                }
                .right-content{
                    display: none;
                }
            }
        }
    }
    @media (max-width: 600px){
        .container{
            h1{
                font-size: 2.4rem;
                text-align: center;
            }
            .info-post-bottom{
                .left-content{
                    .image{
                        img{
                            max-width: 40rem;
                        }
                        margin-bottom: 2rem;
                        
                    }
                    .content-post{
                        blockquote{
                            padding-left: 1.5rem;
                            margin-bottom: 2rem;
                            p{
                                font-size: 16px;
                            }
                        }
                        h1, h2, h3, h4, h5, h6{
                            font-size: 2.4rem;
                            margin-bottom: 1.5rem;
                        }
                        p{
                            font-size: 16px;
                            margin-bottom: 1.5rem;
                        }
                        ul{
                            margin-bottom: 2rem;
                            li{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}