.empty-search{
  padding-bottom: 6rem;
  h2{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3.3rem;
    line-height: 112%;
    text-align: center;
  }
}
.s-main-content{
  padding-bottom: 6rem;
  .container{
    .s-all{
      .alm-listing{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px 30px;
      }
    }
  }
  // Responsive
  @media (max-width: 991px){
    .container{
      .s-all{
        .alm-listing{
          grid-template-columns: 1fr;
          grid-gap: 30px;
          align-items: center;
          justify-items: center;
        }
      }
    }
  }
  @media(max-width: 480px){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}