.empty-search{
  padding-top: 6rem;
  padding-bottom: 6rem;
  h2{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3.3rem;
    line-height: 112%;
    text-align: center;
  }
}