// MT Product Page
.sm-text-product{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.12em;
    color: #868E96;
    text-transform: uppercase;
}
// Section Breadcrumbs
.s-breadcrumbs{
    position: sticky;
    top: 10rem;
    z-index: 2023;
    background-color: $brand-light-blue;
    padding: 1.5rem 0px;
    border-bottom: 0.5px solid rgba(0, 52, 120, 0.2);
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            align-items: center;
            gap: 3rem;
            li{
                position: relative;
                &:not(:last-child){
                    &:after{
                        content: "";
                        position: absolute;
                        right: -20px;
                        top: 4px;
                        width: 10px;
                        height: 10px;
                        background: url("../assets/icons/icon-arrow-breadcrumb.svg") no-repeat center center;
                    }
                }
                a{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.04em;
                    color: $grey-400;
                    transition: all 0.3s;
                }
                &:hover{
                    a{
                        color: $grey-600;
                    }
                }
            }
        }
        a{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 130%;
            letter-spacing: -0.04em;
            color: $grey-400;
            transition: all 0.3s;
            i{
                margin-right: 1.5rem;
            }
            &:hover{
                color: $grey-600;
            }
        }
    }
}
// Section Product
.s-hero-product{
    padding-top: 7rem;
    background: url('../assets/bg/bg-product.jpg') no-repeat center center;
    background-size: cover;
    height: 55rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .product{
            width: 100%;
            max-width: 111.5rem;
            background-color: $white;
            border-radius: 0.6rem;
            display: flex;
            align-items: flex-start;
            gap: 6rem;
            padding: 4rem 5rem;
            .left-text{
                width: 100%;
                max-width: 44.6rem;
                display: flex;
                flex-direction: column;
                h1{
                    width: 100%;
                    max-width: 41rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 112%;
                    letter-spacing: -1px;
                    color: $grey-500;
                    margin-top: 1.5rem;
                    margin-bottom: 3rem;
                }
                ul{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 1.5rem;
                    padding-bottom: 3.5rem;
                    li{
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        img{
                            width: 100%;
                            max-width: 2rem;
                        }
                        p{
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                            color: #363843;
                        }
                    }
                }
                .btn{
                    margin: 0 auto;
                }
            }
            .right-text{
                width: 100%;
                max-width: 44.6rem;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                flex-direction: column;
                h2{
                    width: 100%;
                    max-width: 41rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 112%;
                    letter-spacing: -1px;
                    color: $grey-500;
                    margin-top: 1.5rem;
                    margin-bottom: 3rem;
                    span{
                        color: $brand-blue;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-size: 3rem;
                        line-height: 112%;
                        text-align: right;
                        letter-spacing: -1px;
                        margin-left: 0.5rem;
                    }
                }
                ul{
                    display: flex;
                    align-items: flex-start;
                    gap: 1.5rem;
                    flex-direction: column;
                    padding-bottom: 2.8rem;
                    li{
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        img{
                            width: 100%;
                            max-width: 4rem;
                        }
                        p{
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                            color: #363843;
                        }
                    }
                }
                button{
                    margin: 0 auto;
                    gap: 1.5rem;
                }
            }
        }
    }
}
// Section Trustpilot
.s-trustpilot-product{
    background-color: $white;
    width: 100%;
    padding: 9rem 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            width: 100%;
            max-width: 26.4rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: -0.5px;
            color: $grey-600;
        }
    }

}
// Section Motor Trade Slide
.s-slide-product{
    background-color: $brand-light-blue;
    padding: 9rem 0rem;
    .container{
        .top{
            padding-bottom: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                width: 100%;
                max-width: 42.3rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 3rem;
                line-height: 120%;
                color: $grey-600;
            }
            .ctrl-slide{
                display: flex;
                align-items: center;
                flex: 1;
                justify-content: space-between;
                max-width: 18.4rem;
                .swiper-pagination{
                    position: relative; // by default is absolute
                    bottom: 3px; // by default pagination
                    margin-right: 4rem;
                    width: auto; // by default pagination
                    .swiper-pagination-bullet{
                        background-color: $brand-dark-blue;
                        width: 2.4rem;
                        height: 3px;
                        border-radius: 0px;
                        opacity: 0.25;
                        transition: all .3s ease;
                        // active class by default
                        &-active{
                            opacity: 1;
                        }
                    }
                }
                .ctrl{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .btn-prev{
                        transform: rotate(180deg);
                        margin-top: -0.1rem;
                    }
                    // class by default from swiper pagination
                    .swiper-button-disabled{
                        opacity: 0.25;
                        pointer-events: none;
                    }
                }
            }
        }
        .slide-product{
            // hide other slides (more than 4)
            overflow: hidden;
            position: relative;
        }
    }
}
// Section 