// MT Product Page
.s-breadcrumbs{
    background-color: $brand-light-blue;
    padding: 1.5rem 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            align-items: center;
            gap: 3rem;
            li{
                position: relative;
                &:not(:last-child){
                    &:after{
                        content: "";
                        position: absolute;
                        right: -20px;
                        top: 4px;
                        width: 10px;
                        height: 10px;
                        background: url("../assets/icons/icon-arrow-breadcrumb.svg") no-repeat center center;
                    }
                }
                a{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 130%;
                    letter-spacing: -0.04em;
                    color: $grey-400;
                    transition: all 0.3s;
                }
                &:hover{
                    a{
                        color: $grey-600;
                    }
                }
            }
        }
        a{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 130%;
            letter-spacing: -0.04em;
            color: $grey-400;
            transition: all 0.3s;
            i{
                margin-right: 1.5rem;
            }
            &:hover{
                color: $grey-600;
            }
        }
    }
}