//color
$brand-blue: #00449E;
$brand-dark-blue: #003478;
$brand-black: #16243D;
$brand-light-blue: #F0F4F9;
$brand-light-red: #DE1A29;
$brand-dark-red: #C00037;

// grey-colors
$grey-600: #33303E;
$grey-500: #4E4B59;
$grey-400: #5F5C6B;
$grey-300: #5F5C6B;
$grey-200: #C6C5CE;
$grey-100: #F1F0F5;
$white: #FFFFFF;